n8n-workflows/content-generator.json
{
  "name": "Content Generator",
  "nodes": [
    {
      "parameters": {
        "path": "content-creator-approval",
        "formTitle": "AI Content Creator",
        "formDescription": "Generate social media content from your transcript",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Transcript",
              "fieldType": "textarea",
              "placeholder": "Paste your video transcript here...",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of Tweets",
              "fieldType": "number",
              "placeholder": "3"
            },
            {
              "fieldLabel": "Post to X/Twitter",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Yes" },
                  { "option": "No" }
                ]
              }
            },
            {
              "fieldLabel": "Post to LinkedIn",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Yes" },
                  { "option": "No" }
                ]
              }
            },
            {
              "fieldLabel": "Generate Newsletter",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Yes" },
                  { "option": "No" }
                ]
              }
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "content-approval-v1"
    },
    {
      "parameters": {
        "jsCode": "const formData = $('Form Trigger').first().json;\n\nconst generateX = formData['Post to X/Twitter'] === 'Yes';\nconst generateLinkedIn = formData['Post to LinkedIn'] === 'Yes';\nconst generateNewsletter = formData['Generate Newsletter'] === 'Yes';\nconst tweetCount = Math.min(Math.max(parseInt(formData['Number of Tweets']) || 3, 1), 10);\nconst sessionId = 'session-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9);\n\nreturn [{\n  json: {\n    transcript: formData.Transcript,\n    tweetCount: tweetCount,\n    platforms: {\n      x: generateX,\n      linkedin: generateLinkedIn,\n      newsletter: generateNewsletter\n    },\n    sessionId: sessionId\n  }\n}];"
      },
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a content strategist. Analyze this transcript and create social media content.\n\nTRANSCRIPT:\n{{ $json.transcript }}\n\nGENERATE:\n1. 3-5 key ideas from the transcript\n2. {{ $json.tweetCount }} tweets (under 280 chars each, no hashtags)\n3. 1 LinkedIn post with hook, body, and closing question\n4. 1 Newsletter section with subject, intro, 3-5 key points, and call to action\n\nRESPOND WITH ONLY VALID JSON IN THIS EXACT FORMAT:\n{\n  \"key_ideas\": [\"idea 1\", \"idea 2\", \"idea 3\"],\n  \"tweets\": [\n    {\"content\": \"Tweet text here\", \"type\": \"insight\"},\n    {\"content\": \"Another tweet\", \"type\": \"tip\"}\n  ],\n  \"linkedin\": {\n    \"hook\": \"Attention-grabbing opener\",\n    \"body\": \"Main content with insights\",\n    \"question\": \"Engaging question to end?\"\n  },\n  \"newsletter\": {\n    \"subject\": \"Email subject line\",\n    \"intro\": \"Opening paragraph\",\n    \"points\": [\"Point 1\", \"Point 2\", \"Point 3\"],\n    \"cta\": \"Call to action\"\n  },\n  \"summary\": \"Brief description of content generated\"\n}\n\nIMPORTANT: Return ONLY the JSON object, no markdown, no explanation."
      },
      "id": "llm-chain",
      "name": "Generate Content",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": { "temperature": 0.7 }
      },
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [320, 500],
      "credentials": {
        "googlePalmApi": { "id": "", "name": "Google Gemini API" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the LLM response and build preview HTML\nconst llmOutput = $('Generate Content').first().json;\nconst input = $('Prepare Input').first().json;\n\n// Parse the JSON from the LLM response\nlet output = {};\ntry {\n  // The response might be in 'text' or 'response' field\n  let responseText = llmOutput.text || llmOutput.response || JSON.stringify(llmOutput);\n  \n  // Clean up the response - remove markdown code blocks if present\n  responseText = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  output = JSON.parse(responseText);\n} catch (e) {\n  // Fallback with empty content\n  output = {\n    key_ideas: ['Error parsing AI response'],\n    tweets: [],\n    linkedin: { hook: '', body: 'Error: ' + e.message, question: '' },\n    newsletter: { subject: '', intro: '', points: [], cta: '' },\n    summary: 'Parse error'\n  };\n}\n\n// Store content for approval\nconst contentPayload = {\n  sessionId: input.sessionId,\n  platforms: input.platforms,\n  content: output,\n  createdAt: new Date().toISOString()\n};\n\nconst approvalWebhookPath = 'content-approval-confirm';\nconst encodedContent = Buffer.from(JSON.stringify(contentPayload)).toString('base64');\nconst showApprovalButton = input.platforms.x || input.platforms.linkedin || input.platforms.newsletter;\n\n// Icons\nconst xIcon = '<svg width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z\"/></svg>';\nconst linkedinIcon = '<svg width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"#0077b5\"><path d=\"M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z\"/></svg>';\nconst listIcon = '<svg width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z\"/></svg>';\nconst emailIcon = '<svg width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z\"/></svg>';\n\nconst tweets = output.tweets || [];\nconst linkedin = output.linkedin || {};\nconst newsletter = output.newsletter || {};\n\nconst css = '<style>body{font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,sans-serif;background:linear-gradient(135deg,#1a1a2e 0%,#16213e 100%);min-height:100vh;padding:40px 20px;margin:0}.container{max-width:900px;margin:0 auto}.card{background:#fff;border-radius:16px;padding:24px;margin-bottom:20px;box-shadow:0 10px 40px rgba(0,0,0,0.3)}.header{text-align:center;color:#fff;margin-bottom:30px}.header h1{font-size:2.5em;margin:0}.header p{opacity:0.8;margin-top:8px}.preview-badge{display:inline-block;background:#fbbf24;color:#78350f;padding:8px 20px;border-radius:20px;font-weight:600;margin-top:16px}.section-title{display:flex;align-items:center;gap:10px;font-size:1.3em;font-weight:600;color:#333;margin-bottom:16px;padding-bottom:8px;border-bottom:2px solid #667eea}.section-icon{display:flex;align-items:center;color:#667eea}.platform-status{display:inline-block;padding:4px 10px;border-radius:12px;font-size:0.8em;font-weight:500;margin-left:12px}.platform-on{background:#d1fae5;color:#065f46}.idea-list{list-style:none;padding:0;margin:0}.idea-list li{padding:12px 16px;background:#f8f9ff;border-radius:8px;margin-bottom:8px;border-left:4px solid #667eea;color:#1a1a2e}.tweet-card{background:#f8f9ff;border-radius:12px;padding:20px;margin-bottom:16px;border:1px solid #e0e7ff}.tweet-header{display:flex;align-items:center;gap:12px;margin-bottom:12px}.tweet-number{display:inline-flex;align-items:center;justify-content:center;background:#000;color:#fff;width:32px;height:32px;border-radius:50%;font-weight:600}.tweet-type{background:#fef3c7;color:#92400e;padding:4px 12px;border-radius:12px;font-size:0.8em}.tweet-content{font-size:1.1em;line-height:1.6;color:#1a1a2e;margin:0}.linkedin-section{background:#f0f4ff;padding:20px;border-radius:12px}.linkedin-hook{font-size:1.2em;font-weight:600;color:#0077b5;margin-bottom:12px}.linkedin-body{line-height:1.7;color:#333;white-space:pre-line;margin-bottom:16px}.linkedin-question{font-style:italic;color:#555;padding:12px;background:#fff;border-radius:8px;border-left:4px solid #0077b5}.newsletter-section{background:#fef3c7;padding:20px;border-radius:12px}.newsletter-subject{font-size:1.2em;font-weight:600;color:#92400e;margin-bottom:12px}.newsletter-intro{line-height:1.6;color:#333;margin-bottom:16px}.newsletter-points{list-style:none;padding:0;margin:0 0 16px}.newsletter-points li{padding:8px 12px;background:#fff;border-radius:6px;margin-bottom:6px;border-left:3px solid #f59e0b}.newsletter-cta{font-weight:600;color:#b45309}.approval-section{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);padding:30px;border-radius:16px;text-align:center;color:#fff;margin-top:20px}.approval-section h2{margin:0 0 16px}.approval-section p{opacity:0.9;margin-bottom:24px}.approval-btn{display:inline-block;background:#fff;color:#667eea;padding:16px 40px;border-radius:12px;font-size:1.2em;font-weight:600;text-decoration:none;box-shadow:0 4px 15px rgba(0,0,0,0.2);cursor:pointer}.approval-btn:hover{transform:translateY(-2px)}.platform-summary{display:flex;gap:12px;justify-content:center;margin-top:16px;flex-wrap:wrap}.platform-chip{background:rgba(255,255,255,0.2);padding:8px 16px;border-radius:20px;font-size:0.9em}.platform-chip.active{background:rgba(255,255,255,0.9);color:#667eea}</style>';\n\nlet html = css;\nhtml += '<div class=\"container\">';\nhtml += '<div class=\"header\"><h1>✨ Content Preview</h1><p>Review your generated content before posting</p>';\nhtml += showApprovalButton ? '<span class=\"preview-badge\">📝 Ready for Approval</span>' : '<span class=\"preview-badge\">👀 Preview Only</span>';\nhtml += '</div>';\n\n// Platform summary\nconst selectedPlatforms = [];\nif (input.platforms.x) selectedPlatforms.push('X/Twitter');\nif (input.platforms.linkedin) selectedPlatforms.push('LinkedIn');\nif (input.platforms.newsletter) selectedPlatforms.push('Newsletter');\n\nhtml += '<div class=\"card\"><div class=\"section-title\">📤 Posting To</div>';\nhtml += '<div style=\"display:flex;gap:12px;flex-wrap:wrap;\">';\nif (selectedPlatforms.length > 0) {\n  selectedPlatforms.forEach(function(p) {\n    html += '<span class=\"platform-status platform-on\">✓ ' + p + '</span>';\n  });\n} else {\n  html += '<span class=\"platform-status\" style=\"background:#fee2e2;color:#991b1b;\">No platforms selected</span>';\n}\nhtml += '</div></div>';\n\n// Key Ideas\nhtml += '<div class=\"card\"><div class=\"section-title\"><span class=\"section-icon\">' + listIcon + '</span> Key Ideas</div><ul class=\"idea-list\">';\nvar keyIdeas = output.key_ideas || [];\nfor (var i = 0; i < keyIdeas.length; i++) {\n  html += '<li>' + keyIdeas[i] + '</li>';\n}\nhtml += '</ul></div>';\n\n// Tweets\nif (input.platforms.x && tweets.length > 0) {\n  html += '<div class=\"card\"><div class=\"section-title\"><span class=\"section-icon\">' + xIcon + '</span> Tweets (' + tweets.length + ')<span class=\"platform-status platform-on\">Will Post</span></div>';\n  for (var j = 0; j < tweets.length; j++) {\n    var t = tweets[j];\n    html += '<div class=\"tweet-card\"><div class=\"tweet-header\">';\n    html += '<span class=\"tweet-number\">' + (j+1) + '</span><span class=\"tweet-type\">' + (t.type || 'tweet') + '</span>';\n    html += '</div>';\n    html += '<p class=\"tweet-content\">' + (t.content || '') + '</p>';\n    html += '</div>';\n  }\n  html += '</div>';\n}\n\n// LinkedIn\nif (input.platforms.linkedin && linkedin.hook) {\n  html += '<div class=\"card\"><div class=\"section-title\"><span class=\"section-icon\">' + linkedinIcon + '</span> LinkedIn Post<span class=\"platform-status platform-on\">Will Post</span></div><div class=\"linkedin-section\">';\n  html += '<div class=\"linkedin-hook\">' + (linkedin.hook || '') + '</div>';\n  html += '<div class=\"linkedin-body\">' + (linkedin.body || '') + '</div>';\n  html += '<div class=\"linkedin-question\">💬 ' + (linkedin.question || '') + '</div>';\n  html += '</div></div>';\n}\n\n// Newsletter\nif (input.platforms.newsletter && newsletter.subject) {\n  html += '<div class=\"card\"><div class=\"section-title\"><span class=\"section-icon\">' + emailIcon + '</span> Newsletter<span class=\"platform-status platform-on\">Ready</span></div><div class=\"newsletter-section\">';\n  html += '<div class=\"newsletter-subject\">📧 ' + (newsletter.subject || '') + '</div>';\n  html += '<div class=\"newsletter-intro\">' + (newsletter.intro || '') + '</div>';\n  var points = newsletter.points || [];\n  if (points.length > 0) {\n    html += '<ul class=\"newsletter-points\">';\n    for (var k = 0; k < points.length; k++) {\n      html += '<li>' + points[k] + '</li>';\n    }\n    html += '</ul>';\n  }\n  html += '<div class=\"newsletter-cta\">→ ' + (newsletter.cta || '') + '</div>';\n  html += '</div></div>';\n}\n\n// Approval Button\nif (showApprovalButton) {\n  var approvalUrl = '/webhook/' + approvalWebhookPath + '?data=' + encodedContent;\n  html += '<div class=\"approval-section\">';\n  html += '<h2>🚀 Ready to Publish?</h2>';\n  html += '<p>Review the content above. Click below to post to your selected platforms.</p>';\n  html += '<div class=\"platform-summary\">';\n  if (input.platforms.x) html += '<span class=\"platform-chip active\">𝕏 Twitter</span>';\n  if (input.platforms.linkedin) html += '<span class=\"platform-chip active\">in LinkedIn</span>';\n  if (input.platforms.newsletter) html += '<span class=\"platform-chip active\">📧 Newsletter</span>';\n  html += '</div>';\n  html += '<br><br><a class=\"approval-btn\" href=\"' + approvalUrl + '\">✓ Approve & Post</a>';\n  html += '</div>';\n} else {\n  html += '<div class=\"card\" style=\"text-align:center;padding:30px;\"><h3>👀 Preview Only</h3><p>Select platforms to enable posting.</p></div>';\n}\n\nhtml += '</div>';\n\nreturn [{ json: { html: html, contentPayload: contentPayload } }];"
      },
      "id": "build-preview",
      "name": "Build Preview Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "content": "## Content Creator with Approval\n\n**Simplified Flow:**\n1. Form with platform selection\n2. LLM Chain generates JSON content\n3. Code node parses + builds HTML preview\n4. Approval button triggers Phase 2\n\n**No Structured Output Parser**\n- More reliable JSON parsing\n- Handles AI format variations",
        "height": 280,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-80, 100],
      "typeVersion": 1,
      "id": "note",
      "name": "Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "Prepare Input", "type": "main", "index": 0 }]]
    },
    "Prepare Input": {
      "main": [[{ "node": "Generate Content", "type": "main", "index": 0 }]]
    },
    "Generate Content": {
      "main": [[{ "node": "Build Preview Response", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "Generate Content", "type": "ai_languageModel", "index": 0 }]]
    },
    "Build Preview Response": {
      "main": [[{ "node": "Respond to Form", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "content-approval-v2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["content", "approval", "social-media"]
}
