n8n-workflows/poc-ai-agent-content-creator.json
{
  "name": "poc-ai-agent-content-creator",
  "nodes": [
    {
      "parameters": {
        "path": "ai-content-creator",
        "formTitle": "AI Content Creator (Agent POC)",
        "formDescription": "Simple POC: Paste a transcript and let the AI Agent create social content",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Transcript",
              "fieldType": "textarea",
              "placeholder": "Paste your video transcript here...",
              "requiredField": true
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [0, 0],
      "notes": "📥 Simple form with just transcript input"
    },
    {
      "parameters": {
        "jsCode": "// Generate a unique session ID for memory\nconst formData = $('Form Trigger').first().json;\n\nreturn [{\n  json: {\n    ...formData,\n    sessionId: `session-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`\n  }\n}];"
      },
      "id": "prepare-session",
      "name": "Prepare Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "notes": "📋 Generates unique sessionId for memory buffer"
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "text": "=You are a Content Repurposing Agent. Your task is to analyze the following transcript and create social media content.\n\n## TRANSCRIPT:\n{{ $json.Transcript }}\n\n## YOUR TASKS:\n1. First, extract 3-5 key ideas from this transcript\n2. Then, create 3 tweets (under 280 characters each, no hashtags)\n3. Finally, create 1 LinkedIn post (with hook, body, and closing question)\n\n## OUTPUT FORMAT:\nReturn a structured summary with:\n- Key Ideas (as bullet points)\n- 3 Tweets\n- 1 LinkedIn Post\n\nBe specific and actionable. Use the tools available if needed.",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are an expert content strategist who specializes in repurposing video content for social media. You create engaging, authentic content that provides real value. Always be specific - avoid generic advice. Match the tone and style of the original content."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [540, 0],
      "notes": "🤖 AI Agent with Groq Chat Model\n\nUses tools to:\n1. Extract key ideas\n2. Generate tweets\n3. Create LinkedIn post"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "llama-3.3-70b-versatile"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "groq-chat-model",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [320, 200],
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq API"
        }
      },
      "notes": "🔧 CONFIG: Add your Groq API credential\n\nModel: llama-3.3-70b-versatile\nAlternatives: mixtral-8x7b-32768, gemma2-9b-it"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "simple-memory",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [540, 200],
      "notes": "📝 Window Memory Buffer\n\nUses custom sessionId from Prepare Session node.\nKeeps last 10 interactions in context."
    },
    {
      "parameters": {
        "jsCode": "// Format the AI Agent output for response\nconst agentOutput = $('AI Agent').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    output: agentOutput.output || agentOutput.text || JSON.stringify(agentOutput),\n    message: `✅ Content Generated Successfully!\\n\\n${agentOutput.output || agentOutput.text || 'See output above'}`\n  }\n}];"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.message }}",
        "options": {}
      },
      "id": "respond-form",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 0]
    },
    {
      "parameters": {
        "content": "## POC: AI Agent Content Creator\n\n**Purpose:** Test n8n AI Agent with Groq for content creation\n\n**Flow:**\n1. Form Trigger → receives transcript\n2. Prepare Session → generates sessionId\n3. AI Agent → analyzes and generates content\n4. Format Output → structures response\n5. Respond → returns to user\n\n**Sub-nodes:**\n- Groq Chat Model (LLM brain)\n- Simple Memory (context window with custom sessionId)",
        "height": 440,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-60, -340],
      "typeVersion": 1,
      "id": "note-overview",
      "name": "Note: Overview"
    },
    {
      "parameters": {
        "content": "## Next Steps (After POC Works)\n\n1. Add X (Twitter) Tool for direct posting\n2. Add LinkedIn Tool for direct posting  \n3. Add Google Sheets Tool for logging\n4. Expand system prompt with Voice DNA\n5. Add quality gate feedback loop",
        "height": 260,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1040, -200],
      "typeVersion": 1,
      "id": "note-next-steps",
      "name": "Note: Next Steps"
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "Prepare Session", "type": "main", "index": 0 }]]
    },
    "Prepare Session": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Format Output": {
      "main": [[{ "node": "Respond to Form", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["poc", "ai-agent"],
  "triggerCount": 1,
  "versionId": "2"
}
