n8n-workflows/poc-ai-agent-content-creator.json
{
  "name": "poc-ai-agent-content-creator",
  "nodes": [
    {
      "parameters": {
        "path": "ai-content-creator",
        "formTitle": "AI Content Creator (Agent POC)",
        "formDescription": "Simple POC: Paste a transcript and let the AI Agent create social content",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Transcript",
              "fieldType": "textarea",
              "placeholder": "Paste your video transcript here...",
              "requiredField": true
            },
            {
              "fieldLabel": "Post to X?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "No - Just generate content" },
                  { "option": "Yes - Post first tweet to X" }
                ]
              }
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const formData = $('Form Trigger').first().json;\n\nreturn [{\n  json: {\n    ...formData,\n    sessionId: `session-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`,\n    postToX: formData['Post to X?'] === 'Yes - Post first tweet to X'\n  }\n}];"
      },
      "id": "prepare-session",
      "name": "Prepare Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "text": "=Analyze the following transcript and create social media content.\n\nTRANSCRIPT:\n{{ $json.Transcript }}\n\nCreate:\n1. 3 key ideas (short bullet points)\n2. 3 tweets (under 280 characters, no hashtags, no emojis at start)\n3. 1 LinkedIn post with hook, body, and closing question\n\nReturn the structured output.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert content strategist. Create engaging, specific content that provides real value. Match the tone of the original content."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [540, 0],
      "notes": "🤖 AI Agent with Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "llama-3.3-70b-versatile"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "groq-chat-model",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [320, 200],
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "simple-memory",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [440, 200]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"key_ideas\": {\n      \"type\": \"array\",\n      \"description\": \"3 key ideas extracted from the transcript\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"tweet_1\": {\n      \"type\": \"string\",\n      \"description\": \"First tweet, under 280 characters, no hashtags\"\n    },\n    \"tweet_2\": {\n      \"type\": \"string\",\n      \"description\": \"Second tweet, under 280 characters, no hashtags\"\n    },\n    \"tweet_3\": {\n      \"type\": \"string\",\n      \"description\": \"Third tweet, under 280 characters, no hashtags\"\n    },\n    \"linkedin_hook\": {\n      \"type\": \"string\",\n      \"description\": \"Opening hook for LinkedIn post\"\n    },\n    \"linkedin_body\": {\n      \"type\": \"string\",\n      \"description\": \"Main body of LinkedIn post\"\n    },\n    \"linkedin_question\": {\n      \"type\": \"string\",\n      \"description\": \"Closing question for LinkedIn post\"\n    }\n  },\n  \"required\": [\"key_ideas\", \"tweet_1\", \"tweet_2\", \"tweet_3\", \"linkedin_hook\", \"linkedin_body\", \"linkedin_question\"]\n}"
      },
      "id": "output-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [560, 200],
      "notes": "📋 Defines the exact JSON structure for output:\n- key_ideas: array\n- tweet_1, tweet_2, tweet_3: strings\n- linkedin_hook, linkedin_body, linkedin_question: strings"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-post",
              "leftValue": "={{ $('Prepare Session').first().json.postToX }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "has-tweet",
              "leftValue": "={{ $json.tweet_1 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-post",
      "name": "Should Post to X?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 0]
    },
    {
      "parameters": {
        "resource": "tweet",
        "text": "={{ $json.tweet_1 }}"
      },
      "id": "post-to-x",
      "name": "Post to X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [980, -100],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "",
          "name": "X OAuth2 API"
        }
      },
      "notes": "🐦 Posts tweet_1 from the structured output"
    },
    {
      "parameters": {
        "jsCode": "// Build success response with X post info\nconst parsed = $('AI Agent').first().json;\nconst sessionData = $('Prepare Session').first().json;\nlet xPostResult = null;\n\ntry {\n  xPostResult = $('Post to X').first().json;\n} catch (e) {}\n\nlet message = '✅ Content Generated Successfully!\\n\\n';\nmessage += '📝 KEY IDEAS:\\n';\nmessage += (parsed.key_ideas || []).map(i => `• ${i}`).join('\\n');\nmessage += '\\n\\n🐦 TWEETS:\\n';\nmessage += `1. ${parsed.tweet_1 || 'N/A'}\\n`;\nmessage += `2. ${parsed.tweet_2 || 'N/A'}\\n`;\nmessage += `3. ${parsed.tweet_3 || 'N/A'}`;\nmessage += '\\n\\n💼 LINKEDIN POST:\\n';\nmessage += `Hook: ${parsed.linkedin_hook || 'N/A'}\\n`;\nmessage += `Body: ${parsed.linkedin_body || 'N/A'}\\n`;\nmessage += `Question: ${parsed.linkedin_question || 'N/A'}`;\n\nif (xPostResult?.data?.id) {\n  message += `\\n\\n✅ POSTED TO X:\\nTweet ID: ${xPostResult.data.id}\\nURL: https://x.com/i/status/${xPostResult.data.id}`;\n}\n\nreturn [{ json: { message: message } }];"
      },
      "id": "build-response-posted",
      "name": "Build Response (Posted)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, -100]
    },
    {
      "parameters": {
        "jsCode": "// Build response without X posting\nconst parsed = $('AI Agent').first().json;\nconst sessionData = $('Prepare Session').first().json;\n\nlet message = '✅ Content Generated Successfully!\\n\\n';\nmessage += '📝 KEY IDEAS:\\n';\nmessage += (parsed.key_ideas || []).map(i => `• ${i}`).join('\\n');\nmessage += '\\n\\n🐦 TWEETS:\\n';\nmessage += `1. ${parsed.tweet_1 || 'N/A'}\\n`;\nmessage += `2. ${parsed.tweet_2 || 'N/A'}\\n`;\nmessage += `3. ${parsed.tweet_3 || 'N/A'}`;\nmessage += '\\n\\n💼 LINKEDIN POST:\\n';\nmessage += `Hook: ${parsed.linkedin_hook || 'N/A'}\\n`;\nmessage += `Body: ${parsed.linkedin_body || 'N/A'}\\n`;\nmessage += `Question: ${parsed.linkedin_question || 'N/A'}`;\n\nif (!sessionData.postToX) {\n  message += '\\n\\n📌 X posting was not requested.';\n}\n\nreturn [{ json: { message: message } }];"
      },
      "id": "build-response-no-post",
      "name": "Build Response (No Post)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 100]
    },
    {
      "parameters": {},
      "id": "merge-responses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1420, 0]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.message }}",
        "options": {}
      },
      "id": "respond-form",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 0]
    },
    {
      "parameters": {
        "content": "## POC: AI Agent + Structured Output + X Posting\n\n**Key Change:** Added Structured Output Parser!\n\nThis forces the AI to return exactly:\n- key_ideas: [array]\n- tweet_1, tweet_2, tweet_3: strings\n- linkedin_hook, linkedin_body, linkedin_question: strings\n\n**X Node uses:** `{{ $json.tweet_1 }}`",
        "height": 320,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-60, -280],
      "typeVersion": 1,
      "id": "note-overview",
      "name": "Note: Overview"
    },
    {
      "parameters": {
        "content": "## Structured Output Schema\n\n```json\n{\n  \"key_ideas\": [\"...\", \"...\"],\n  \"tweet_1\": \"First tweet\",\n  \"tweet_2\": \"Second tweet\",\n  \"tweet_3\": \"Third tweet\",\n  \"linkedin_hook\": \"...\",\n  \"linkedin_body\": \"...\",\n  \"linkedin_question\": \"...\"\n}\n```",
        "height": 280,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [400, -280],
      "typeVersion": 1,
      "id": "note-schema",
      "name": "Note: Schema"
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "Prepare Session", "type": "main", "index": 0 }]]
    },
    "Prepare Session": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Should Post to X?", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "AI Agent", "type": "ai_outputParser", "index": 0 }]]
    },
    "Should Post to X?": {
      "main": [
        [{ "node": "Post to X", "type": "main", "index": 0 }],
        [{ "node": "Build Response (No Post)", "type": "main", "index": 0 }]
      ]
    },
    "Post to X": {
      "main": [[{ "node": "Build Response (Posted)", "type": "main", "index": 0 }]]
    },
    "Build Response (Posted)": {
      "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]]
    },
    "Build Response (No Post)": {
      "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]]
    },
    "Merge Responses": {
      "main": [[{ "node": "Respond to Form", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["poc", "ai-agent", "twitter"],
  "triggerCount": 1,
  "versionId": "4"
}
