n8n-workflows/poc-agent-with-tools.json
{
  "name": "poc-agent-with-tools",
  "nodes": [
    {
      "parameters": {
        "path": "ai-content-creator-v2",
        "formTitle": "AI Content Creator (Agent with Tools)",
        "formDescription": "AI Agent generates content and uses tools to post to X",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Transcript",
              "fieldType": "textarea",
              "placeholder": "Paste your video transcript here...",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of Tweets",
              "fieldType": "number",
              "placeholder": "3"
            },
            {
              "fieldLabel": "Auto-Post",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "No - Just generate" },
                  { "option": "Yes - Post to X" }
                ]
              }
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "agent-tools-poc"
    },
    {
      "parameters": {
        "jsCode": "const formData = $('Form Trigger').first().json;\nconst tweetCount = parseInt(formData['Number of Tweets']) || 3;\nconst autoPost = formData['Auto-Post'] === 'Yes - Post to X';\n\nreturn [{\n  json: {\n    transcript: formData.Transcript,\n    tweetCount: Math.min(Math.max(tweetCount, 1), 10),\n    autoPost: autoPost,\n    sessionId: `session-${Date.now()}`\n  }\n}];"
      },
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Content Repurposing Agent with access to Post to X and Post to LinkedIn tools.\n\n## TRANSCRIPT:\n{{ $json.transcript }}\n\n## INSTRUCTIONS:\n1. Analyze the transcript and extract key ideas\n2. Generate {{ $json.tweetCount }} unique tweets (under 280 characters each, no hashtags)\n3. Generate 1 LinkedIn post (hook, body, closing question)\n{{ $json.autoPost ? '4. USE THE \"Post to X\" TOOL to post EACH tweet one by one\\n5. USE THE \"Post to LinkedIn\" TOOL to post the LinkedIn content (combine hook, body, question into one message)' : '4. Do NOT post - just return the generated content' }}\n\n## REQUIRED OUTPUT:\nReturn a JSON object with:\n- key_ideas: array of strings\n- tweets: array of {content, type, posted, tweet_id}\n- linkedin: {hook, body, question, posted, post_id}\n- summary: brief description of what you did\n\n{{ $json.autoPost ? 'IMPORTANT: You MUST use both Post to X and Post to LinkedIn tools before returning the final output.' : '' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert content strategist. Create engaging, specific content that matches the original tone. When auto-post is enabled, use the Post to X tool for tweets and Post to LinkedIn tool for the LinkedIn post."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [440, 300],
      "notes": "🤖 AI Agent with X and LinkedIn tools"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": { "temperature": 0.7 }
      },
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [320, 520],
      "credentials": {
        "googlePalmApi": { "id": "", "name": "Google Gemini API" }
      },
      "notes": "🔧 Configure your Gemini API credential"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "memory",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [440, 520]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"key_ideas\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"tweets\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"content\": { \"type\": \"string\" },\n          \"type\": { \"type\": \"string\" },\n          \"posted\": { \"type\": \"boolean\" },\n          \"tweet_id\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"linkedin\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"hook\": { \"type\": \"string\" },\n        \"body\": { \"type\": \"string\" },\n        \"question\": { \"type\": \"string\" }\n      }\n    },\n    \"summary\": { \"type\": \"string\" }\n  },\n  \"required\": [\"key_ideas\", \"tweets\", \"linkedin\", \"summary\"]\n}"
      },
      "id": "output-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [560, 520]
    },
    {
      "parameters": {
        "name": "post_to_x",
        "description": "Post a tweet to X (formerly Twitter). Input should be a JSON object with a 'content' field containing the tweet text (max 280 characters). Returns the posted tweet ID and URL.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "specifyInputSchema": true,
        "schema": {
          "type": "object",
          "properties": {
            "content": {
              "type": "string",
              "description": "The tweet text to post (max 280 characters)"
            }
          },
          "required": ["content"]
        }
      },
      "id": "workflow-tool",
      "name": "Post to X Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [680, 520],
      "notes": "🔧 Calls workflow-post-to-x.json\nSet the workflowId after import!"
    },
    {
      "parameters": {
        "name": "post_to_linkedin",
        "description": "Post content to LinkedIn. Input should be a JSON object with a 'content' field containing the full post text (max 3000 characters). Returns the post ID and URL.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "specifyInputSchema": true,
        "schema": {
          "type": "object",
          "properties": {
            "content": {
              "type": "string",
              "description": "The LinkedIn post content (max 3000 characters)"
            }
          },
          "required": ["content"]
        }
      },
      "id": "linkedin-tool",
      "name": "Post to LinkedIn Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [800, 520],
      "notes": "🔧 Calls workflow-post-to-linkedin.json\nSet the workflowId after import!"
    },
    {
      "parameters": {
        "jsCode": "// Build HTML response\nconst agentOutput = $('AI Agent').first().json;\nconst output = agentOutput.output || agentOutput;\nconst input = $('Prepare Input').first().json;\n\n// SVG icons\nconst xIcon = '<svg width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z\"/></svg>';\nconst linkedinIcon = '<svg width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"#0077b5\"><path d=\"M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z\"/></svg>';\nconst listIcon = '<svg width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z\"/></svg>';\n\nconst bgColor = input.autoPost ? 'linear-gradient(135deg, #667eea 0%, #764ba2 100%)' : 'linear-gradient(135deg, #11998e 0%, #38ef7d 100%)';\nconst accentColor = input.autoPost ? '#667eea' : '#11998e';\n\nconst css = `\n<style>\n  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: ${bgColor}; min-height: 100vh; padding: 40px 20px; margin: 0; }\n  .container { max-width: 800px; margin: 0 auto; }\n  .card { background: white; border-radius: 16px; padding: 24px; margin-bottom: 20px; box-shadow: 0 10px 40px rgba(0,0,0,0.15); }\n  .header { text-align: center; color: white; margin-bottom: 30px; }\n  .header h1 { font-size: 2.5em; margin: 0; }\n  .header p { opacity: 0.9; }\n  .section-title { display: flex; align-items: center; gap: 10px; font-size: 1.3em; font-weight: 600; color: #333; margin-bottom: 16px; padding-bottom: 8px; border-bottom: 2px solid ${accentColor}; }\n  .section-icon { display: flex; align-items: center; color: ${accentColor}; }\n  .idea-list { list-style: none; padding: 0; margin: 0; }\n  .idea-list li { padding: 12px 16px; background: #f8f9ff; border-radius: 8px; margin-bottom: 8px; border-left: 4px solid ${accentColor}; color: #1a1a2e; }\n  .tweet-card { background: #f8f9ff; border-radius: 12px; padding: 20px; margin-bottom: 16px; border: 1px solid #e0e7ff; }\n  .tweet-header { display: flex; align-items: center; gap: 12px; margin-bottom: 12px; }\n  .tweet-number { display: inline-flex; align-items: center; justify-content: center; background: #000; color: white; width: 32px; height: 32px; border-radius: 50%; font-weight: 600; }\n  .tweet-type { background: #fef3c7; color: #92400e; padding: 4px 12px; border-radius: 12px; font-size: 0.8em; }\n  .tweet-content { font-size: 1.1em; line-height: 1.6; color: #1a1a2e; margin: 0; }\n  .tweet-link { display: inline-block; margin-top: 12px; color: #000; text-decoration: none; font-weight: 500; }\n  .posted-badge { background: #10b981; color: white; padding: 2px 8px; border-radius: 8px; font-size: 0.75em; margin-left: 8px; }\n  .linkedin-section { background: #f0f4ff; padding: 20px; border-radius: 12px; }\n  .linkedin-hook { font-size: 1.2em; font-weight: 600; color: #0077b5; margin-bottom: 12px; }\n  .linkedin-body { line-height: 1.7; color: #333; white-space: pre-line; margin-bottom: 16px; }\n  .linkedin-question { font-style: italic; color: #555; padding: 12px; background: white; border-radius: 8px; border-left: 4px solid #0077b5; }\n  .summary { background: #f0f9ff; padding: 16px; border-radius: 8px; color: #333; font-style: italic; }\n</style>`;\n\nconst tweets = output.tweets || [];\nconst linkedin = output.linkedin || {};\nconst title = input.autoPost ? '🎉 Posted to X!' : '✨ Content Ready!';\nconst subtitle = input.autoPost ? 'AI Agent generated and posted your content' : 'AI Agent generated your content';\n\nlet html = css;\nhtml += '<div class=\"container\">';\nhtml += `<div class=\"header\"><h1>${title}</h1><p>${subtitle}</p></div>`;\n\n// Summary\nif (output.summary) {\n  html += `<div class=\"card\"><p class=\"summary\">${output.summary}</p></div>`;\n}\n\n// Key Ideas\nhtml += '<div class=\"card\"><div class=\"section-title\"><span class=\"section-icon\">' + listIcon + '</span> Key Ideas</div><ul class=\"idea-list\">';\n(output.key_ideas || []).forEach(idea => { html += `<li>${idea}</li>`; });\nhtml += '</ul></div>';\n\n// Tweets\nhtml += `<div class=\"card\"><div class=\"section-title\"><span class=\"section-icon\">${xIcon}</span> Tweets (${tweets.length})</div>`;\ntweets.forEach((t, i) => {\n  html += '<div class=\"tweet-card\"><div class=\"tweet-header\">';\n  html += `<span class=\"tweet-number\">${i+1}</span><span class=\"tweet-type\">${t.type || 'tweet'}</span>`;\n  if (t.posted) html += '<span class=\"posted-badge\">✓ Posted</span>';\n  html += '</div>';\n  html += `<p class=\"tweet-content\">${t.content || ''}</p>`;\n  if (t.tweet_id) html += `<a class=\"tweet-link\" href=\"https://x.com/i/status/${t.tweet_id}\" target=\"_blank\">View on X →</a>`;\n  html += '</div>';\n});\nhtml += '</div>';\n\n// LinkedIn\nhtml += '<div class=\"card\"><div class=\"section-title\"><span class=\"section-icon\">' + linkedinIcon + '</span> LinkedIn Post</div><div class=\"linkedin-section\">';\nhtml += `<div class=\"linkedin-hook\">${linkedin.hook || ''}</div>`;\nhtml += `<div class=\"linkedin-body\">${linkedin.body || ''}</div>`;\nhtml += `<div class=\"linkedin-question\">${linkedin.question || ''}</div>`;\nhtml += '</div></div>';\n\nhtml += '</div>';\n\nreturn [{ json: { html } }];"
      },
      "id": "build-response",
      "name": "Build HTML Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "content": "## POC: AI Agent with Tools\n\n**Flow:**\n1. Form Trigger\n2. Prepare Input\n3. AI Agent\n   - Google Gemini Chat Model\n   - Simple Memory\n   - Structured Output Parser\n   - **Post to X Tool** (calls sub-workflow)\n4. Build HTML Response\n5. Respond to Form\n\n**Important:**\nAfter import, configure the\nPost to X Tool's workflowId!",
        "height": 380,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-60, 60],
      "typeVersion": 1,
      "id": "note",
      "name": "Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "Prepare Input", "type": "main", "index": 0 }]]
    },
    "Prepare Input": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Build HTML Response", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "AI Agent", "type": "ai_outputParser", "index": 0 }]]
    },
    "Post to X Tool": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Post to LinkedIn Tool": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Build HTML Response": {
      "main": [[{ "node": "Respond to Form", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "poc-agent-tools-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["poc", "ai-agent", "tools"]
}
