n8n-workflows/workflow-content-generation.json
{
  "name": "workflow-content-generation",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "notes": "📥 TRIGGER: Called by Idea Extraction workflow.\n\nExpected input:\n- All original metadata (video_id, video_title, etc.)\n- ideas_glm: Ideas from GLM-4.6\n- ideas_kimi: Ideas from Kimi-K2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z.ai/api/coding/paas/v4/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"glm-4.6\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a content creator. Respond in the same language as the input content. If language cannot be determined, default to English. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create {{ $json.tweet_count }} tweets for {{ $json.target_audience }} about {{ $json.niche }}.\\n\\nIDEAS: {{ JSON.stringify($json.ideas_glm.data || $json.ideas_kimi.data) }}\\n\\nRules: Under 280 chars, no hashtags, no emojis at start, specific not generic.\\n\\nReturn ONLY JSON: { \\\"tweets\\\": [{ \\\"content\\\": \\\"tweet text\\\", \\\"type\\\": \\\"contrarian|framework|story|tactical|numbers\\\" }] }\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2048\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "glm-tweets",
      "name": "Tweets (GLM-4.6)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [220, -200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GLM-4 API"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "🔧 CONFIG: Uses GLM-4 API credential\nEndpoint: Z.AI Coding Plan\nGenerates tweet content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"moonshotai/kimi-k2-instruct-0905\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a content creator. Respond in the same language as the input content. If language cannot be determined, default to English. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create {{ $json.tweet_count }} tweets for {{ $json.target_audience }} about {{ $json.niche }}.\\n\\nIDEAS: {{ JSON.stringify($json.ideas_glm.data || $json.ideas_kimi.data) }}\\n\\nRules: Under 280 chars, no hashtags, no emojis at start, specific not generic.\\n\\nReturn ONLY JSON: { \\\"tweets\\\": [{ \\\"content\\\": \\\"tweet text\\\", \\\"type\\\": \\\"contrarian|framework|story|tactical|numbers\\\" }] }\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2048\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "kimi-tweets",
      "name": "Tweets (Kimi-K2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [220, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "🔧 CONFIG: Uses Groq API credential\nModel: Kimi-K2\nGenerates tweet content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z.ai/api/coding/paas/v4/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"glm-4.6\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a LinkedIn content creator. Respond in the same language as the input content. If language cannot be determined, default to English. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create {{ $json.linkedin_count }} LinkedIn posts for {{ $json.target_audience }} about {{ $json.niche }}.\\n\\nIDEAS: {{ JSON.stringify($json.ideas_glm.data || $json.ideas_kimi.data) }}\\n\\nRules: 1200-1800 chars, use white space, hook+value+question structure.\\n\\nReturn ONLY JSON: { \\\"posts\\\": [{ \\\"hook\\\": \\\"first lines\\\", \\\"body\\\": \\\"full post\\\", \\\"question\\\": \\\"closing question\\\" }] }\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4096\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "glm-linkedin",
      "name": "LinkedIn (GLM-4.6)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GLM-4 API"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "🔧 CONFIG: Uses GLM-4 API credential\nGenerates LinkedIn posts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"moonshotai/kimi-k2-instruct-0905\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a LinkedIn content creator. Respond in the same language as the input content. If language cannot be determined, default to English. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create {{ $json.linkedin_count }} LinkedIn posts for {{ $json.target_audience }} about {{ $json.niche }}.\\n\\nIDEAS: {{ JSON.stringify($json.ideas_glm.data || $json.ideas_kimi.data) }}\\n\\nRules: 1200-1800 chars, use white space, hook+value+question structure.\\n\\nReturn ONLY JSON: { \\\"posts\\\": [{ \\\"hook\\\": \\\"first lines\\\", \\\"body\\\": \\\"full post\\\", \\\"question\\\": \\\"closing question\\\" }] }\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4096\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "kimi-linkedin",
      "name": "LinkedIn (Kimi-K2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [220, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "🔧 CONFIG: Uses Groq API credential\nGenerates LinkedIn posts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z.ai/api/coding/paas/v4/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"glm-4.6\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a newsletter writer. Respond in the same language as the input content. If language cannot be determined, default to English. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a newsletter section for {{ $json.target_audience }} about {{ $json.niche }}.\\n\\nIDEAS: {{ JSON.stringify($json.ideas_glm.data || $json.ideas_kimi.data) }}\\n\\nReturn ONLY JSON: { \\\"newsletter\\\": { \\\"subject\\\": \\\"email subject\\\", \\\"preview\\\": \\\"preview text\\\", \\\"body\\\": \\\"full content\\\" } }\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4096\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "glm-newsletter",
      "name": "Newsletter (GLM-4.6)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [220, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GLM-4 API"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "🔧 CONFIG: Uses GLM-4 API credential\nGenerates newsletter content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"moonshotai/kimi-k2-instruct-0905\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a newsletter writer. Respond in the same language as the input content. If language cannot be determined, default to English. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a newsletter section for {{ $json.target_audience }} about {{ $json.niche }}.\\n\\nIDEAS: {{ JSON.stringify($json.ideas_glm.data || $json.ideas_kimi.data) }}\\n\\nReturn ONLY JSON: { \\\"newsletter\\\": { \\\"subject\\\": \\\"email subject\\\", \\\"preview\\\": \\\"preview text\\\", \\\"body\\\": \\\"full content\\\" } }\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4096\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "kimi-newsletter",
      "name": "Newsletter (Kimi-K2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [220, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "🔧 CONFIG: Uses Groq API credential\nGenerates newsletter content"
    },
    {
      "parameters": {
        "jsCode": "// Get input metadata\nconst input = $('Execute Workflow Trigger').first().json;\n\n// Parse function\nfunction parseContent(nodeName, key) {\n  try {\n    const output = $(nodeName).first().json;\n    const content = output.choices?.[0]?.message?.content || '';\n    const cleaned = content.replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      return JSON.parse(match[0]);\n    }\n    return { error: 'No JSON found' };\n  } catch (e) {\n    return { error: e.message };\n  }\n}\n\nreturn [{\n  json: {\n    video_id: input.video_id,\n    video_title: input.video_title,\n    \n    // Parsed content from both models\n    tweets_glm: parseContent('Tweets (GLM-4.6)', 'tweets'),\n    tweets_kimi: parseContent('Tweets (Kimi-K2)', 'tweets'),\n    linkedin_glm: parseContent('LinkedIn (GLM-4.6)', 'posts'),\n    linkedin_kimi: parseContent('LinkedIn (Kimi-K2)', 'posts'),\n    newsletter_glm: parseContent('Newsletter (GLM-4.6)', 'newsletter'),\n    newsletter_kimi: parseContent('Newsletter (Kimi-K2)', 'newsletter'),\n    \n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "merge-content",
      "name": "Merge All Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 50],
      "notes": "📋 AUTO-CONFIGURED:\n\nMerges content from all 6 parallel API calls.\nParses JSON from each response."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Generated_Content"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "store-content",
      "name": "Store Generated Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [660, 50],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      },
      "notes": "🔧 CONFIGURATION REQUIRED:\n\n1. Select Google Sheets OAuth2 credential\n2. Select your spreadsheet\n3. Select 'Generated_Content' sheet\n\nAuto-maps all input fields to columns."
    },
    {
      "parameters": {},
      "id": "return-output",
      "name": "Return Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 50],
      "notes": "📤 OUTPUT:\n\nReturns all generated content to the curation workflow."
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {"node": "Tweets (GLM-4.6)", "type": "main", "index": 0},
          {"node": "Tweets (Kimi-K2)", "type": "main", "index": 0},
          {"node": "LinkedIn (GLM-4.6)", "type": "main", "index": 0},
          {"node": "LinkedIn (Kimi-K2)", "type": "main", "index": 0},
          {"node": "Newsletter (GLM-4.6)", "type": "main", "index": 0},
          {"node": "Newsletter (Kimi-K2)", "type": "main", "index": 0}
        ]
      ]
    },
    "Tweets (GLM-4.6)": {"main": [[{"node": "Merge All Content", "type": "main", "index": 0}]]},
    "Tweets (Kimi-K2)": {"main": [[{"node": "Merge All Content", "type": "main", "index": 0}]]},
    "LinkedIn (GLM-4.6)": {"main": [[{"node": "Merge All Content", "type": "main", "index": 0}]]},
    "LinkedIn (Kimi-K2)": {"main": [[{"node": "Merge All Content", "type": "main", "index": 0}]]},
    "Newsletter (GLM-4.6)": {"main": [[{"node": "Merge All Content", "type": "main", "index": 0}]]},
    "Newsletter (Kimi-K2)": {"main": [[{"node": "Merge All Content", "type": "main", "index": 0}]]},
    "Merge All Content": {"main": [[{"node": "Store Generated Content", "type": "main", "index": 0}]]},
    "Store Generated Content": {"main": [[{"node": "Return Output", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["content-generation"],
  "triggerCount": 0,
  "versionId": "2"
}
