n8n-workflows/workflow-approval-handler.json
{
  "name": "Content Approval - Post Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "content-approval-confirm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "approval-confirm-v1"
    },
    {
      "parameters": {
        "jsCode": "// Decode the content payload from the approval URL\nconst query = $json.query || {};\nconst encodedData = query.data || '';\n\nif (!encodedData) {\n  return [{\n    json: {\n      success: false,\n      error: 'No content data provided',\n      html: '<html><body><h1>Error</h1><p>No content data found. Please go back and try again.</p></body></html>'\n    }\n  }];\n}\n\ntry {\n  const decoded = Buffer.from(encodedData, 'base64').toString('utf-8');\n  const payload = JSON.parse(decoded);\n  \n  return [{\n    json: {\n      success: true,\n      sessionId: payload.sessionId,\n      platforms: payload.platforms,\n      content: payload.content,\n      createdAt: payload.createdAt\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to decode content: ' + error.message,\n      html: '<html><body><h1>Error</h1><p>Failed to decode content. Please go back and try again.</p></body></html>'\n    }\n  }];\n}"
      },
      "id": "decode-payload",
      "name": "Decode Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-valid",
      "name": "Valid Payload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare items for posting based on platform selection\nconst data = $json;\nconst platforms = data.platforms || {};\nconst content = data.content || {};\n\nconst tasks = [];\n\n// Add X/Twitter tasks\nif (platforms.x && content.tweets) {\n  content.tweets.forEach((tweet, i) => {\n    tasks.push({\n      platform: 'x',\n      index: i + 1,\n      content: tweet.content,\n      type: tweet.type\n    });\n  });\n}\n\n// Add LinkedIn task with professional formatting\nif (platforms.linkedin && content.linkedin) {\n  const li = content.linkedin;\n  // Format like the preview: Hook in bold style, body, then question\n  let formattedPost = '';\n  \n  // Hook (bold feel with caps and emoji)\n  if (li.hook) {\n    formattedPost += li.hook + '\\n\\n';\n  }\n  \n  // Body with line breaks preserved\n  if (li.body) {\n    formattedPost += li.body + '\\n\\n';\n  }\n  \n  // Question with conversation starter\n  if (li.question) {\n    formattedPost += '💬 ' + li.question;\n  }\n  \n  tasks.push({\n    platform: 'linkedin',\n    index: 1,\n    content: formattedPost.trim(),\n    hook: li.hook,\n    body: li.body,\n    question: li.question\n  });\n}\n\n// Add Newsletter task\nif (platforms.newsletter && content.newsletter) {\n  tasks.push({\n    platform: 'newsletter',\n    index: 1,\n    content: JSON.stringify(content.newsletter),\n    subject: content.newsletter.subject,\n    newsletterData: content.newsletter\n  });\n}\n\n// Store original content for confirmation page\nif (tasks.length === 0) {\n  tasks.push({\n    platform: 'none',\n    content: 'No platforms selected',\n    originalContent: content\n  });\n}\n\nreturn tasks.map(task => ({ json: { ...task, sessionId: data.sessionId, originalContent: content } }));"
      },
      "id": "prepare-tasks",
      "name": "Prepare Post Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-x",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "x",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-x-platform",
      "name": "Is X?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "id": "post-to-x",
      "name": "Post to X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1100, 100],
      "credentials": {
        "twitterOAuth2Api": { "id": "", "name": "X account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-linkedin",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "linkedin",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-linkedin-platform",
      "name": "Is LinkedIn?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "person": "",
        "text": "={{ $json.content }}",
        "additionalFields": { "visibility": "PUBLIC" }
      },
      "id": "post-to-linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [1320, 300],
      "credentials": {
        "linkedInOAuth2Api": { "id": "", "name": "LinkedIn OAuth2 API" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all results and build beautiful confirmation page\nconst originalData = $('Decode Payload').first().json;\nconst content = originalData.content || {};\nconst platforms = originalData.platforms || {};\n\nconst results = {\n  x: [],\n  linkedin: [],\n  newsletter: null\n};\n\n// Process X results\ntry {\n  $('Post to X').all().forEach(item => {\n    if (item.json?.data?.id) {\n      results.x.push({\n        id: item.json.data.id,\n        text: item.json.data.text,\n        url: `https://x.com/i/status/${item.json.data.id}`\n      });\n    }\n  });\n} catch (e) { /* No X posts */ }\n\n// Process LinkedIn results\ntry {\n  $('Post to LinkedIn').all().forEach(item => {\n    if (item.json?.urn) {\n      results.linkedin.push({\n        id: item.json.urn,\n        url: `https://www.linkedin.com/feed/update/${item.json.urn}`\n      });\n    }\n  });\n} catch (e) { /* No LinkedIn posts */ }\n\n// SVG icons\nconst xIcon = '<svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z\"/></svg>';\nconst linkedinIcon = '<svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"#0077b5\"><path d=\"M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z\"/></svg>';\nconst emailIcon = '<svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"#f59e0b\"><path d=\"M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z\"/></svg>';\nconst checkIcon = '<svg width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"#10b981\"><path d=\"M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z\"/></svg>';\n\nconst css = `\n<style>\n  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: linear-gradient(135deg, #10b981 0%, #059669 100%); min-height: 100vh; padding: 40px 20px; margin: 0; }\n  .container { max-width: 800px; margin: 0 auto; }\n  .card { background: white; border-radius: 16px; padding: 28px; margin-bottom: 20px; box-shadow: 0 10px 40px rgba(0,0,0,0.2); }\n  .header { text-align: center; color: white; margin-bottom: 30px; }\n  .header h1 { font-size: 2.5em; margin: 0; text-shadow: 0 2px 10px rgba(0,0,0,0.2); }\n  .header p { opacity: 0.9; margin-top: 8px; font-size: 1.1em; }\n  .success-icon { font-size: 4em; margin-bottom: 10px; animation: bounce 0.5s; }\n  @keyframes bounce { 0%, 100% { transform: translateY(0); } 50% { transform: translateY(-10px); } }\n  .platform-section { margin-bottom: 24px; padding-bottom: 24px; border-bottom: 1px solid #e5e7eb; }\n  .platform-section:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }\n  .platform-header { display: flex; align-items: center; gap: 12px; margin-bottom: 16px; }\n  .platform-icon { display: flex; align-items: center; }\n  .platform-title { font-size: 1.2em; font-weight: 600; color: #1f2937; }\n  .posted-badge { background: #d1fae5; color: #065f46; padding: 4px 12px; border-radius: 20px; font-size: 0.8em; font-weight: 500; display: inline-flex; align-items: center; gap: 4px; margin-left: auto; }\n  .content-preview { background: #f9fafb; border-radius: 12px; padding: 16px; margin-bottom: 12px; border-left: 4px solid #10b981; }\n  .content-text { color: #374151; line-height: 1.6; margin: 0; font-size: 0.95em; }\n  .content-text.truncate { max-height: 80px; overflow: hidden; position: relative; }\n  .view-link { display: inline-flex; align-items: center; gap: 6px; color: #059669; text-decoration: none; font-weight: 500; margin-top: 8px; }\n  .view-link:hover { text-decoration: underline; }\n  .tweet-item { background: #f8f9ff; border-radius: 10px; padding: 14px; margin-bottom: 10px; border-left: 3px solid #000; }\n  .tweet-number { display: inline-flex; align-items: center; justify-content: center; background: #000; color: white; width: 24px; height: 24px; border-radius: 50%; font-size: 0.8em; font-weight: 600; margin-right: 10px; }\n  .linkedin-preview { background: #f0f4ff; border-radius: 12px; padding: 20px; }\n  .linkedin-hook { font-weight: 600; color: #0077b5; margin-bottom: 12px; font-size: 1.05em; }\n  .linkedin-body { color: #374151; line-height: 1.7; margin-bottom: 12px; white-space: pre-line; }\n  .linkedin-question { font-style: italic; color: #6b7280; padding: 12px; background: white; border-radius: 8px; border-left: 3px solid #0077b5; }\n  .newsletter-preview { background: #fef3c7; border-radius: 12px; padding: 20px; }\n  .newsletter-subject { font-weight: 600; color: #92400e; margin-bottom: 10px; }\n  .summary-card { background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%); color: white; text-align: center; padding: 24px; }\n  .summary-card h3 { margin: 0 0 8px 0; }\n  .summary-stats { display: flex; justify-content: center; gap: 30px; margin-top: 16px; }\n  .stat { text-align: center; }\n  .stat-number { font-size: 2em; font-weight: 700; }\n  .stat-label { font-size: 0.85em; opacity: 0.8; }\n</style>`;\n\nlet html = css;\nhtml += '<div class=\"container\">';\nhtml += '<div class=\"header\"><div class=\"success-icon\">🎉</div><h1>Published Successfully!</h1><p>Your content is now live</p></div>';\n\nlet totalPosted = results.x.length + results.linkedin.length + (platforms.newsletter ? 1 : 0);\n\n// X/Twitter Section\nif (results.x.length > 0) {\n  html += '<div class=\"card\"><div class=\"platform-section\">';\n  html += '<div class=\"platform-header\"><span class=\"platform-icon\">' + xIcon + '</span><span class=\"platform-title\">X / Twitter</span><span class=\"posted-badge\">' + checkIcon + ' ' + results.x.length + ' Posted</span></div>';\n  \n  const tweets = content.tweets || [];\n  results.x.forEach((r, i) => {\n    const tweetContent = tweets[i]?.content || r.text || '';\n    html += '<div class=\"tweet-item\">';\n    html += '<span class=\"tweet-number\">' + (i+1) + '</span>';\n    html += '<span class=\"content-text\">' + tweetContent.substring(0, 100) + (tweetContent.length > 100 ? '...' : '') + '</span>';\n    html += '<br><a class=\"view-link\" href=\"' + r.url + '\" target=\"_blank\">View on X →</a>';\n    html += '</div>';\n  });\n  \n  html += '</div></div>';\n}\n\n// LinkedIn Section\nif (results.linkedin.length > 0) {\n  const li = content.linkedin || {};\n  html += '<div class=\"card\"><div class=\"platform-section\">';\n  html += '<div class=\"platform-header\"><span class=\"platform-icon\">' + linkedinIcon + '</span><span class=\"platform-title\">LinkedIn</span><span class=\"posted-badge\">' + checkIcon + ' Posted</span></div>';\n  \n  html += '<div class=\"linkedin-preview\">';\n  if (li.hook) html += '<div class=\"linkedin-hook\">' + li.hook + '</div>';\n  if (li.body) html += '<div class=\"linkedin-body\">' + li.body.substring(0, 200) + (li.body.length > 200 ? '...' : '') + '</div>';\n  if (li.question) html += '<div class=\"linkedin-question\">💬 ' + li.question + '</div>';\n  html += '</div>';\n  \n  results.linkedin.forEach(r => {\n    html += '<a class=\"view-link\" href=\"' + r.url + '\" target=\"_blank\" style=\"margin-top:12px;display:block;\">View on LinkedIn →</a>';\n  });\n  \n  html += '</div></div>';\n}\n\n// Newsletter Section\nif (platforms.newsletter && content.newsletter) {\n  const nl = content.newsletter;\n  html += '<div class=\"card\"><div class=\"platform-section\">';\n  html += '<div class=\"platform-header\"><span class=\"platform-icon\">' + emailIcon + '</span><span class=\"platform-title\">Newsletter</span><span class=\"posted-badge\" style=\"background:#fef3c7;color:#92400e;\">📋 Ready to Send</span></div>';\n  \n  html += '<div class=\"newsletter-preview\">';\n  html += '<div class=\"newsletter-subject\">📧 Subject: ' + (nl.subject || 'Newsletter') + '</div>';\n  if (nl.intro) html += '<p style=\"color:#374151;margin:0;\">' + nl.intro.substring(0, 150) + '...</p>';\n  html += '</div>';\n  html += '<p style=\"color:#6b7280;font-size:0.9em;margin-top:12px;\">Email sending requires integration (SendGrid, Mailchimp, etc.)</p>';\n  \n  html += '</div></div>';\n}\n\n// Summary Card\nhtml += '<div class=\"card summary-card\">';\nhtml += '<h3>✅ All Done!</h3>';\nhtml += '<p style=\"opacity:0.8;\">Your content has been published successfully</p>';\nhtml += '<div class=\"summary-stats\">';\nif (results.x.length > 0) html += '<div class=\"stat\"><div class=\"stat-number\">' + results.x.length + '</div><div class=\"stat-label\">Tweets</div></div>';\nif (results.linkedin.length > 0) html += '<div class=\"stat\"><div class=\"stat-number\">' + results.linkedin.length + '</div><div class=\"stat-label\">LinkedIn Posts</div></div>';\nif (platforms.newsletter) html += '<div class=\"stat\"><div class=\"stat-number\">1</div><div class=\"stat-label\">Newsletter</div></div>';\nhtml += '</div>';\nhtml += '</div>';\n\nhtml += '</div>';\n\nreturn [{ json: { html, results } }];"
      },
      "id": "build-confirmation",
      "name": "Build Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {},
      "id": "merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1320, 100]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 400]
    },
    {
      "parameters": {
        "content": "## Approval Webhook Handler\n\n**Receives:**\n- Encoded content from approval button\n\n**Processes:**\n1. Decode payload\n2. Split into platform tasks\n3. Post to X (if selected)\n4. Post to LinkedIn (if selected)\n5. Return confirmation page\n\n**Note:**\nNewsletter output is generated\nbut email sending needs separate\nintegration (SendGrid, etc.)",
        "height": 320,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-60, 60],
      "typeVersion": 1,
      "id": "note",
      "name": "Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Approval Webhook": {
      "main": [[{ "node": "Decode Payload", "type": "main", "index": 0 }]]
    },
    "Decode Payload": {
      "main": [[{ "node": "Valid Payload?", "type": "main", "index": 0 }]]
    },
    "Valid Payload?": {
      "main": [
        [{ "node": "Prepare Post Tasks", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Post Tasks": {
      "main": [[{ "node": "Is X?", "type": "main", "index": 0 }]]
    },
    "Is X?": {
      "main": [
        [{ "node": "Post to X", "type": "main", "index": 0 }],
        [{ "node": "Is LinkedIn?", "type": "main", "index": 0 }]
      ]
    },
    "Post to X": {
      "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]]
    },
    "Is LinkedIn?": {
      "main": [
        [{ "node": "Post to LinkedIn", "type": "main", "index": 0 }],
        [{ "node": "Build Confirmation", "type": "main", "index": 0 }]
      ]
    },
    "Post to LinkedIn": {
      "main": [[{ "node": "Build Confirmation", "type": "main", "index": 0 }]]
    },
    "Merge Results": {
      "main": [[{ "node": "Is LinkedIn?", "type": "main", "index": 0 }]]
    },
    "Build Confirmation": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "approval-handler-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["approval", "posting", "webhook"]
}
