n8n-workflows/workflow-ingestion.json
{
  "name": "workflow-ingestion",
  "nodes": [
    {
      "parameters": {
        "path": "content-repurposing-engine",
        "formTitle": "Content Repurposing Engine",
        "formDescription": "Transform video transcripts into platform-ready social content",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Video Title",
              "placeholder": "e.g., How to Automate Any Business With AI",
              "requiredField": true
            },
            {
              "fieldLabel": "Video URL",
              "placeholder": "https://youtube.com/..."
            },
            {
              "fieldLabel": "Transcript",
              "fieldType": "textarea",
              "placeholder": "Paste your video transcript here...",
              "requiredField": true
            },
            {
              "fieldLabel": "Content Niche",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "AI/Business" },
                  { "option": "Entrepreneurship" },
                  { "option": "Tech/Software" },
                  { "option": "Marketing" },
                  { "option": "Finance" },
                  { "option": "Health/Wellness" },
                  { "option": "Education" },
                  { "option": "Other" }
                ]
              }
            },
            {
              "fieldLabel": "Target Audience",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Entrepreneurs" },
                  { "option": "Agency Owners" },
                  { "option": "Developers" },
                  { "option": "Executives" },
                  { "option": "Beginners" },
                  { "option": "Advanced Practitioners" },
                  { "option": "General Audience" }
                ]
              }
            },
            {
              "fieldLabel": "Tone",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "practical" },
                  { "option": "inspirational" },
                  { "option": "controversial" },
                  { "option": "educational" },
                  { "option": "conversational" }
                ]
              }
            },
            {
              "fieldLabel": "Tweet Count",
              "fieldType": "number",
              "placeholder": "5"
            },
            {
              "fieldLabel": "LinkedIn Count",
              "fieldType": "number",
              "placeholder": "3"
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Get form input\nconst formData = $('Form Trigger').first().json;\n\nreturn [{\n  json: {\n    status: '⏳',\n    video_id: `${Date.now()}-${Math.random().toString(36).substr(2, 5)}`,\n    video_title: formData['Video Title'],\n    video_url: formData['Video URL'] || '',\n    transcript: formData['Transcript'],\n    niche: formData['Content Niche'] || 'AI/Business',\n    target_audience: formData['Target Audience'] || 'Entrepreneurs',\n    tone: formData['Tone'] || 'practical',\n    tweet_count: formData['Tweet Count'] || 5,\n    linkedin_count: formData['LinkedIn Count'] || 3,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "notes": "📋 Formats form input and generates unique video_id"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Raw_Transcripts"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "store-transcript",
      "name": "Store Raw Transcript",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [440, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      },
      "notes": "🔧 CONFIG: Select your Google Sheet and 'Raw_Transcripts' sheet"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "workflow-transcript-chunker"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [660, 0],
      "id": "run-chunker",
      "name": "Run Transcript Chunker",
      "notes": "🔧 CONFIG: Select 'workflow-transcript-chunker'\n\nSplits large transcripts into sentence-boundary chunks.\nSmall transcripts pass through as single chunk."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-error",
              "leftValue": "={{ $json.chunking_method }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-chunker-error",
      "name": "Chunker Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "// Transcript too large - return error\nconst input = $('Run Transcript Chunker').first().json;\n\nreturn [{\n  json: {\n    status: '❌',\n    video_id: input.video_id,\n    video_title: input.video_title,\n    success: false,\n    errors: [input.error],\n    message: `❌ ${input.error}`\n  }\n}];"
      },
      "id": "error-response",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -150],
      "notes": "❌ Returns error for oversized transcripts"
    },
    {
      "parameters": {
        "jsCode": "// Get chunks from chunker output\nconst chunkerOutput = $('Run Transcript Chunker').first().json;\nconst chunks = chunkerOutput.chunks || [];\n\n// Create one item per chunk with full metadata\nreturn chunks.map(chunk => ({\n  json: {\n    video_id: chunkerOutput.video_id,\n    video_title: chunkerOutput.video_title,\n    video_url: chunkerOutput.video_url,\n    niche: chunkerOutput.niche,\n    target_audience: chunkerOutput.target_audience,\n    tone: chunkerOutput.tone,\n    tweet_count: chunkerOutput.tweet_count,\n    linkedin_count: chunkerOutput.linkedin_count,\n    \n    // Chunk-specific data\n    chunk_index: chunk.chunk_index,\n    chunk_title: chunk.chunk_title,\n    transcript: chunk.content,\n    total_chunks: chunkerOutput.total_chunks\n  }\n}));"
      },
      "id": "split-chunks",
      "name": "Split Into Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100],
      "notes": "📋 Converts chunks array into multiple items for looping"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "workflow-idea-extraction"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1320, 100],
      "id": "run-idea-extraction",
      "name": "Run Idea Extraction",
      "notes": "🔧 CONFIG: Select 'workflow-idea-extraction'\n\nRuns for EACH chunk. All chunks processed in parallel."
    },
    {
      "parameters": {
        "jsCode": "// Merge ideas from all chunks\nconst allResults = $('Run Idea Extraction').all();\nconst firstInput = $('Split Into Chunks').first().json;\n\n// Combine all GLM ideas\nlet combinedGlmIdeas = {\n  key_ideas: [],\n  quotable_moments: [],\n  frameworks: [],\n  stories: []\n};\n\n// Combine all Kimi ideas\nlet combinedKimiIdeas = {\n  key_ideas: [],\n  quotable_moments: [],\n  frameworks: [],\n  stories: []\n};\n\nfor (const result of allResults) {\n  const json = result.json;\n  \n  // Merge GLM ideas\n  if (json.ideas_glm?.data) {\n    const glm = json.ideas_glm.data;\n    if (glm.key_ideas) combinedGlmIdeas.key_ideas.push(...glm.key_ideas);\n    if (glm.quotable_moments) combinedGlmIdeas.quotable_moments.push(...glm.quotable_moments);\n    if (glm.frameworks) combinedGlmIdeas.frameworks.push(...glm.frameworks);\n    if (glm.stories) combinedGlmIdeas.stories.push(...glm.stories);\n  }\n  \n  // Merge Kimi ideas\n  if (json.ideas_kimi?.data) {\n    const kimi = json.ideas_kimi.data;\n    if (kimi.key_ideas) combinedKimiIdeas.key_ideas.push(...kimi.key_ideas);\n    if (kimi.quotable_moments) combinedKimiIdeas.quotable_moments.push(...kimi.quotable_moments);\n    if (kimi.frameworks) combinedKimiIdeas.frameworks.push(...kimi.frameworks);\n    if (kimi.stories) combinedKimiIdeas.stories.push(...kimi.stories);\n  }\n}\n\nreturn [{\n  json: {\n    video_id: firstInput.video_id,\n    video_title: firstInput.video_title,\n    video_url: firstInput.video_url,\n    niche: firstInput.niche,\n    target_audience: firstInput.target_audience,\n    tone: firstInput.tone,\n    tweet_count: firstInput.tweet_count,\n    linkedin_count: firstInput.linkedin_count,\n    \n    ideas_glm: {\n      source: 'groq/compound',\n      data: combinedGlmIdeas,\n      error: null\n    },\n    ideas_kimi: {\n      source: 'Kimi-K2',\n      data: combinedKimiIdeas,\n      error: null\n    },\n    \n    chunks_processed: allResults.length,\n    merged_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "merge-chunk-results",
      "name": "Merge Chunk Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 100],
      "notes": "📋 Combines ideas from all chunk extractions\n\nMerges: key_ideas, quotable_moments, frameworks, stories"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "workflow-content-generation"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1760, 100],
      "id": "run-content-generation",
      "name": "Run Content Generation",
      "notes": "🔧 CONFIG: Select 'workflow-content-generation'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "workflow-curation"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1980, 100],
      "id": "run-curation",
      "name": "Run Curation",
      "notes": "🔧 CONFIG: Select 'workflow-curation'"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Merge Chunk Results').first().json;\nconst curationResult = $('Run Curation').first().json;\n\n// Check for errors\nconst errors = [];\nif (curationResult?.error) errors.push(`Curation: ${curationResult.error}`);\n\nconst hasErrors = errors.length > 0;\nconst status = hasErrors ? '❌' : '✅';\n\n// Count generated content\nconst curated = curationResult?.curated || {};\nconst tweets = curated.curated_tweets?.length || 0;\nconst linkedin = curated.curated_linkedin?.length || 0;\nconst newsletter = curated.curated_newsletter ? 1 : 0;\n\nreturn [{\n  json: {\n    status: status,\n    video_id: input.video_id,\n    video_title: input.video_title,\n    success: !hasErrors,\n    errors: errors,\n    chunks_processed: input.chunks_processed,\n    generated: {\n      tweets: tweets,\n      linkedin: linkedin,\n      newsletter: newsletter\n    },\n    message: hasErrors \n      ? `❌ Processing completed with errors:\\n${errors.join('\\n')}`\n      : `✅ Content generated successfully!\\n\\n📊 Created:\\n• ${tweets} Tweets\\n• ${linkedin} LinkedIn posts\\n• ${newsletter} Newsletter section\\n\\n🔢 Chunks processed: ${input.chunks_processed}\\n\\nCheck your Google Sheet for the curated content.`\n  }\n}];"
      },
      "id": "build-response",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 100]
    },
    {
      "parameters": {},
      "id": "merge-responses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2420, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Raw_Transcripts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "video_id",
              "lookupValue": "={{ $json.video_id }}"
            }
          ]
        }
      },
      "id": "update-status",
      "name": "Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2640, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.message }}",
        "options": {}
      },
      "id": "respond-form",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2860, 0]
    },
    {
      "parameters": {
        "content": "## Preprocessing\n\nForm → Prepare Data → Store → Chunker",
        "height": 300,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-60, -200],
      "typeVersion": 1,
      "id": "note-preprocessing",
      "name": "Note: Preprocessing"
    },
    {
      "parameters": {
        "content": "## Chunk Processing\n\nSplit chunks → Extract ideas (parallel per chunk) → Merge results",
        "height": 300,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1040, -200],
      "typeVersion": 1,
      "id": "note-chunking",
      "name": "Note: Chunking"
    },
    {
      "parameters": {
        "content": "## Content Generation\n\nGenerate tweets, LinkedIn, newsletter → Curate best content",
        "height": 300,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1700, -200],
      "typeVersion": 1,
      "id": "note-generation",
      "name": "Note: Generation"
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]]
    },
    "Prepare Data": {
      "main": [[{ "node": "Store Raw Transcript", "type": "main", "index": 0 }]]
    },
    "Store Raw Transcript": {
      "main": [[{ "node": "Run Transcript Chunker", "type": "main", "index": 0 }]]
    },
    "Run Transcript Chunker": {
      "main": [[{ "node": "Chunker Error?", "type": "main", "index": 0 }]]
    },
    "Chunker Error?": {
      "main": [
        [{ "node": "Build Error Response", "type": "main", "index": 0 }],
        [{ "node": "Split Into Chunks", "type": "main", "index": 0 }]
      ]
    },
    "Build Error Response": {
      "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]]
    },
    "Split Into Chunks": {
      "main": [[{ "node": "Run Idea Extraction", "type": "main", "index": 0 }]]
    },
    "Run Idea Extraction": {
      "main": [[{ "node": "Merge Chunk Results", "type": "main", "index": 0 }]]
    },
    "Merge Chunk Results": {
      "main": [[{ "node": "Run Content Generation", "type": "main", "index": 0 }]]
    },
    "Run Content Generation": {
      "main": [[{ "node": "Run Curation", "type": "main", "index": 0 }]]
    },
    "Run Curation": {
      "main": [[{ "node": "Build Success Response", "type": "main", "index": 0 }]]
    },
    "Build Success Response": {
      "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]]
    },
    "Merge Responses": {
      "main": [[{ "node": "Update Status", "type": "main", "index": 0 }]]
    },
    "Update Status": {
      "main": [[{ "node": "Respond to Form", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["main"],
  "triggerCount": 1,
  "versionId": "7"
}