n8n-workflows/workflow-post-to-x.json
{
  "name": "Post to X (Sub-workflow)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 200],
      "notes": "📥 Receives tweet data from parent workflow or AI Agent tool"
    },
    {
      "parameters": {
        "jsCode": "// Validate and prepare tweet\n// AI Agent toolWorkflow sends data as 'query', so we check that too\nconst input = $json;\nconst content = input.query || input.content || input.tweet || input.text || '';\n\nconsole.log('Input received:', JSON.stringify(input));\nconsole.log('Content extracted:', content);\n\nif (!content || content.trim() === '') {\n  return [{\n    json: {\n      success: false,\n      error: 'No tweet content provided',\n      content: '',\n      receivedInput: input\n    }\n  }];\n}\n\n// Validate length\nif (content.length > 280) {\n  return [{\n    json: {\n      success: false,\n      error: `Tweet too long: ${content.length} characters (max 280)`,\n      content: content.substring(0, 280)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    content: content.trim(),\n    length: content.length,\n    ready: true\n  }\n}];"
      },
      "id": "validate",
      "name": "Validate Tweet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-ready",
              "leftValue": "={{ $json.ready }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "id": "post-to-x",
      "name": "Post to X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [660, 100],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "TtzUMmUcFebH8T9X",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format success response\nconst xResponse = $json;\nconst tweetId = xResponse?.data?.id;\nconst tweetText = xResponse?.data?.text || '';\n\nreturn [{\n  json: {\n    success: true,\n    tweet_id: tweetId,\n    tweet_url: tweetId ? `https://x.com/i/status/${tweetId}` : null,\n    content: tweetText,\n    message: `Successfully posted tweet: ${tweetText.substring(0, 50)}...`\n  }\n}];"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "jsCode": "// Format error response\nconst input = $('Validate Tweet').first().json;\n\nreturn [{\n  json: {\n    success: false,\n    error: input.error || 'Tweet validation failed',\n    content: input.content || ''\n  }\n}];"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "content": "## Post to X Sub-workflow\n\n**Input:**\n- content: string (tweet text)\n\n**Output:**\n- success: boolean\n- tweet_id: string\n- tweet_url: string\n- message: string\n\n**Called by:** AI Agent Tool",
        "height": 280,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-60, -80],
      "typeVersion": 1,
      "id": "note",
      "name": "Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Validate Tweet", "type": "main", "index": 0 }]]
    },
    "Validate Tweet": {
      "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "Post to X", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Post to X": {
      "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sub-workflow-x-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["sub-workflow", "x", "twitter"]
}
