n8n-workflows/workflow-idea-extraction.json
{
  "name": "workflow-idea-extraction",
  "nodes": [
    {
      "parameters": {},
      "id": "24e8f236-b7b5-42a5-b840-f6db0b499e88",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        112
      ],
      "notesInFlow": false,
      "notes": "📥 TRIGGER: This workflow is called by the main Ingestion workflow.\n\nExpected input data:\n- video_id, video_title, video_url\n- niche, target_audience, tone\n- tweet_count, linkedin_count\n- transcript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z.ai/api/coding/paas/v4/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"glm-4.6\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior content strategist. Extract high-value insights from transcripts. Respond in the same language as the input content. If language cannot be determined, default to English. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Video: {{ $json.video_title }}\\nNiche: {{ $json.niche }}\\nAudience: {{ $json.target_audience }}\\nTone: {{ $json.tone }}\\n\\nTRANSCRIPT:\\n{{ $json.transcript }}\\n\\nExtract and return JSON with: key_ideas (4-6 items with title, insight, evidence), quotable_moments (3-5), frameworks (1-3), stories (1-2).\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4096\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a2951740-134f-4843-8ddf-cb6bb1890937",
      "name": "Extract Ideas (GLM-4.6)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -432,
        -192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OB8r5gQSbBl9hPQO",
          "name": "ZAI"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput",
      "notes": "🔧 CONFIGURATION REQUIRED:\n\n1. Create Header Auth credential named 'GLM-4 API'\n2. Header Name: Authorization\n3. Header Value: Bearer YOUR_Z_AI_API_KEY\n\nEndpoint: Z.AI Coding Plan\nModel: GLM-4.6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"moonshotai/kimi-k2-instruct-0905\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior content strategist. Extract high-value insights from transcripts. Respond in the same language as the input content. If language cannot be determined, default to English. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Video: {{ $json.video_title }}\\nNiche: {{ $json.niche }}\\nAudience: {{ $json.target_audience }}\\nTone: {{ $json.tone }}\\n\\nTRANSCRIPT:\\n{{ $json.transcript }}\\n\\nExtract and return JSON with: key_ideas (4-6 items with title, insight, evidence), quotable_moments (3-5), frameworks (1-3), stories (1-2).\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 16384\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "89078691-1f0d-4cf1-8294-a8a7e08d6826",
      "name": "Extract Ideas (Kimi-K2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jEcOP8oHkbMNE2oG",
          "name": "GROQ"
        },
        "httpMultipleHeadersAuth": {
          "id": "oHRT3SMPrRWc7k2i",
          "name": "GROQ MHA"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "🔧 CONFIGURATION REQUIRED:\n\n1. Create Header Auth credential named 'Groq API'\n2. Header Name: Authorization\n3. Header Value: Bearer YOUR_GROQ_API_KEY\n\nGet key from: console.groq.com\nModel: Moonshot Kimi-K2"
    },
    {
      "parameters": {
        "jsCode": "// Parse GLM-4.6 response\nconst glmOutput = $('Extract Ideas (groq/compound)').first().json;\nconst glmContent = glmOutput.choices?.[0]?.message?.content || '';\n\n// Parse Kimi-K2 response\nconst kimiOutput = $('Extract Ideas (Kimi-K2)').first().json;\nconst kimiContent = kimiOutput.choices?.[0]?.message?.content || '';\n\n// Get input metadata\nconst input = $('Execute Workflow Trigger').first().json;\n\nfunction parseJson(content, source) {\n  try {\n    const cleaned = content.replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      return { source, data: JSON.parse(match[0]), error: null };\n    }\n    throw new Error('No JSON found');\n  } catch (e) {\n    return { source, data: null, error: e.message };\n  }\n}\n\nconst glmParsed = parseJson(glmContent, 'groq/compound');\nconst kimiParsed = parseJson(kimiContent, 'Kimi-K2');\n\nreturn [{\n  json: {\n    video_id: input.video_id,\n    video_title: input.video_title,\n    video_url: input.video_url,\n    niche: input.niche,\n    target_audience: input.target_audience,\n    tone: input.tone,\n    tweet_count: input.tweet_count,\n    linkedin_count: input.linkedin_count,\n    transcript: input.transcript,\n    \n    ideas_glm: glmParsed,\n    ideas_kimi: kimiParsed,\n    \n    extracted_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "61644f07-8324-426a-a7e3-bdeda796ef60",
      "name": "Merge & Parse Ideas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        112
      ],
      "notes": "📋 AUTO-CONFIGURED:\n\nThis node merges responses from both AI providers and parses the JSON.\n\nNo configuration needed - just verify output after testing."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1b_LcaNUehWKHyaST8sxB7pOia5r4n6_s6vvzyiaXjYI",
          "mode": "list",
          "cachedResultName": "ContentCreator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b_LcaNUehWKHyaST8sxB7pOia5r4n6_s6vvzyiaXjYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Ideas_Extracted"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "✅",
            "idea_id": "={{ $json.video_id }}-ideas",
            "video_id": "={{ $json.video_id }}",
            "glm_ideas": "={{ JSON.stringify($json.ideas_glm) }}",
            "kimi_ideas": "={{ JSON.stringify($json.ideas_kimi) }}",
            "extracted_at": "={{ $json.extracted_at }}"
          }
        },
        "options": {}
      },
      "id": "2ef7b83e-6abf-48e4-841c-7d60ce261a46",
      "name": "Store Ideas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        448,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gT63GqZ01vMEYBvV",
          "name": "Google Sheets account"
        }
      },
      "notes": "🔧 CONFIGURATION REQUIRED:\n\n1. Select Google Sheets OAuth2 credential\n2. Select 'Content Repurposing Engine' spreadsheet\n3. Select 'Ideas_Extracted' sheet\n\nRequired columns in sheet:\nstatus | idea_id | video_id | glm_ideas | kimi_ideas | extracted_at"
    },
    {
      "parameters": {},
      "id": "5fc39289-973f-4a98-8355-d87d30d5c069",
      "name": "Return Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        112
      ],
      "notes": "📤 OUTPUT:\n\nReturns extracted ideas to the calling workflow.\n\nData includes:\n- ideas_glm: Ideas extracted by GLM-4.6\n- ideas_kimi: Ideas extracted by Kimi-K2\n- All original metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"groq/compound\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior content strategist. Extract high-value insights from transcripts. Respond in the same language as the input content. If language cannot be determined, default to English. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Video: {{ $json.video_title }} Niche: {{ $json.niche }} Audience: {{ $json.target_audience }} Tone: {{ $json.tone }} TRANSCRIPT: {{ $json.transcript.replace(/[\\r\\n]+/g, '') }}Extract and return JSON with: key_ideas (4-6 items with title, insight, evidence), quotable_moments (3-5), frameworks (1-3), stories (1-2).\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 8192,\n  \"compound_custom\": {\n    \"tools\": {\n      \"enabled_tools\": [\n        \"web_search\",\n        \"code_interpreter\",\n        \"visit_website\"\n      ]\n    }\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "7c2a993a-f2aa-46e6-b0f7-054c36e9e325",
      "name": "Extract Ideas (groq/compound)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -16,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jEcOP8oHkbMNE2oG",
          "name": "GROQ"
        },
        "httpMultipleHeadersAuth": {
          "id": "oHRT3SMPrRWc7k2i",
          "name": "GROQ MHA"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "🔧 CONFIGURATION REQUIRED:\n\n1. Create Header Auth credential named 'Groq API'\n2. Header Name: Authorization\n3. Header Value: Bearer YOUR_GROQ_API_KEY\n\nGet key from: console.groq.com\nModel: Moonshot Kimi-K2"
    },
    {
      "parameters": {
        "jsCode": "// This runs once for all incoming items\nfor (const item of items) {\n  const raw = item.json.transcript ?? '';\n\n  // Remove real newlines (\\r and \\n)\n  const cleaned = raw.replace(/[\\r\\n]+/g, ' ');\n\n  // Either overwrite...\n  // item.json.transcript = cleaned;\n\n  // ...or put it in a new field:\n  item.json.transcript = cleaned;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        112
      ],
      "id": "8d4fd991-2c4e-43df-bae3-190911dc09ae",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "status": "⏳",
          "video_id": "1765335316099-n1ut9",
          "video_title": "How to Automate Any Business With AI in 3 Steps (Beginner's Guide)",
          "video_url": "https://youtu.be/kQFW3bUrOu4",
          "transcript": "Transcript\r\n[00:00] So over the past two and a half years,\r\n[00:01] my agency, Morningside AI, has been on\r\n[00:02] the front lines of implementing AI for\r\n[00:04] some of the world's biggest brands. And\r\n[00:05] I can tell you that the difference\r\n[00:06] between the 5% of companies who are\r\n[00:08] seeing a massive ROI on AI and the 95%\r\n[00:11] who are failing right now is simple, and\r\n[00:13] that's that they start with a process\r\n[00:15] and not the technology. Most businesses\r\n[00:17] get this backwards. They get all hyped\r\n[00:18] about a new tool and they dive straight\r\n[00:20] into the development and ultimately\r\n[00:22] fail. And from this, companies are\r\n[00:24] learning that the initial shine of AI is\r\n[00:25] gone now. And this stuff takes real\r\n[00:27] human skill to get right. And even\r\n[00:29] OpenAI has kind of just admitted this\r\n[00:31] openly by launching their own consulting\r\n[00:33] team. So whether you're a business owner\r\n[00:34] who wants to join this 5% of winners or\r\n[00:36] an entrepreneur who wants to serve the\r\n[00:38] 95% of companies who are failing and\r\n[00:39] need help, then this video is for you\r\n[00:41] because I'm about to open source the\r\n[00:43] entire start to finish framework that we\r\n[00:44] use at Morningside AI for automating any\r\n[00:46] business with AI. And at the end, I'll\r\n[00:48] give you a full guide so that you can go\r\n[00:49] and apply this stuff yourself. So if you\r\n[00:51] are new to the channel, my name is Liam\r\n[00:52] Mley and for the past 2 and a half\r\n[00:53] years, I've been helping businesses and\r\n[00:55] individuals to use AI to get ahead. And\r\n[00:57] I do this because our vision at\r\n[00:58] Morningside is to ensure that the games\r\n[01:00] of the AI revolution aren't just for the\r\n[01:02] big guys. And that's why I share our\r\n[01:03] learnings here on this channel to give\r\n[01:05] businesses the tools to survive and win\r\n[01:07] in this AI revolution.\r\n[01:10] So, here's the deal. This is a reality\r\n[01:12] check for almost every single business\r\n[01:13] out there right now. But what they\r\n[01:14] ultimately want is growth, which\r\n[01:16] requires order. Most companies are a\r\n[01:18] complete mess. Their data is scattered.\r\n[01:20] Their processes are a mix of how we've\r\n[01:21] always done it and a dozen different\r\n[01:23] apps or tools that don't talk to each\r\n[01:25] other. And now according to studies,\r\n[01:26] most of their employees are secretly\r\n[01:28] using a bunch of AI tools to get parts\r\n[01:30] of their work done without them telling\r\n[01:32] the company. And that's creating huge\r\n[01:33] risks of data leaks etc. So it's\r\n[01:35] organized chaos at best. And most\r\n[01:37] business owners are just trying to keep\r\n[01:38] the wheels from falling off. And so now\r\n[01:40] when you take this chaotic system and\r\n[01:42] you try to just plug in the most\r\n[01:44] powerful technology on the planet right\r\n[01:45] now, what do you think happens? Right?\r\n[01:47] It's going to fail and it's going to\r\n[01:48] fail pretty miserably. And you don't\r\n[01:49] actually have to take my word for it on\r\n[01:50] that. The numbers are pretty brutal. MIT\r\n[01:53] has published a study recently showing\r\n[01:54] that 95% of AI initiatives and\r\n[01:56] businesses fail to deliver a return on\r\n[01:58] investment. Let me say that again. The\r\n[02:00] vast majority of businesses that try to\r\n[02:02] implement AI are getting zero value from\r\n[02:04] it. This is in enterprise to be fair, so\r\n[02:06] it's sort of bigger businesses, but it's\r\n[02:07] still an interesting point. But that's\r\n[02:08] not because this technology is useless.\r\n[02:10] That's because these companies are\r\n[02:12] trying to copy what everyone else is\r\n[02:13] doing and they're failing miserably\r\n[02:14] because of it. Instead of taking the\r\n[02:16] time to do the real exploratory work to\r\n[02:18] figure out where AI can fit their\r\n[02:19] business best, they are just looking for\r\n[02:21] the headlines and looking for YouTube\r\n[02:22] videos and and stealing from other\r\n[02:24] people, rather than doing the ground\r\n[02:25] work to find where AI best fits their\r\n[02:27] organization. And often when they try to\r\n[02:29] do it themselves, they are actually\r\n[02:30] clueless to what it really takes to see\r\n[02:32] AI adoption within teams of emotional\r\n[02:34] and fearful humans. There are human\r\n[02:36] barriers to adoption and actually seeing\r\n[02:37] an ROI that many companies are just not\r\n[02:39] aware of right now. So what the 5% who\r\n[02:41] are actually seeing an ROI are doing is\r\n[02:42] they're starting from square one and\r\n[02:44] taking a comprehensive and holistic\r\n[02:46] approach to AI opportunity\r\n[02:47] identification and then development\r\n[02:49] within the company in order to find what\r\n[02:51] we call like layups or or quick wins\r\n[02:53] with AI that can really drive immediate\r\n[02:55] ROI from them. And so the reason the\r\n[02:56] majority of these companies are not\r\n[02:58] seeing an ROI is because they are trying\r\n[02:59] to go for what the neighbor said that\r\n[03:01] they were doing and and not seeing these\r\n[03:02] golden nuggets laying right in front of\r\n[03:04] them, which are the quick wins, the\r\n[03:05] quick ROI projects that can implement AI\r\n[03:08] quickly and allow them to see a return\r\n[03:09] on their investment. And I can say with\r\n[03:10] complete confidence from the client work\r\n[03:12] we do at Morningside, there are always\r\n[03:13] these quick wins lying around that\r\n[03:15] companies are just not aware of and how\r\n[03:16] AI can plug into those and really solve\r\n[03:18] a bottleneck for them that's been\r\n[03:19] troubling them for a while. Now, if\r\n[03:20] you're a business owner watching this,\r\n[03:21] these stats should be a massive wakeup\r\n[03:22] call. It means that almost all of your\r\n[03:24] competitors are trying to use AI and\r\n[03:26] they're failing and they're wasting\r\n[03:27] money, they're wasting time, they're\r\n[03:29] getting nowhere. So, this gives you a\r\n[03:30] huge advantage because if you can be one\r\n[03:32] of the small percentage who gets this\r\n[03:34] right by properly auditing your business\r\n[03:35] and following the exact process that I'm\r\n[03:37] about to lay out for you, you'll\r\n[03:38] dominate your industry for years to come\r\n[03:40] using these advantages. And if you're an\r\n[03:41] aspiring entrepreneur, that same stat\r\n[03:43] should sound to you like the biggest\r\n[03:44] dinner bell you have ever heard because\r\n[03:46] it means that there are millions of\r\n[03:47] businesses out there who are hungry for\r\n[03:49] the most powerful technology on the\r\n[03:50] planet right now. And they have no idea\r\n[03:52] how to use it or get an ROI from it. So\r\n[03:54] this is an enormous and untapped market\r\n[03:56] and your job is to figure out how to\r\n[03:58] bring that power to them. And in this\r\n[04:00] video, I'm going to show you the exact\r\n[04:01] process to do that.\r\n[04:04] Okay, so now you understand the\r\n[04:05] opportunity. Now I'm going to give you\r\n[04:06] the exact Morningside method playbook in\r\n[04:08] order to capture it. So, this is a\r\n[04:10] three-phase process that we use at\r\n[04:11] Morningside to take any business from\r\n[04:14] that initial state of chaos to order and\r\n[04:16] then ultimately to growth. So, I'm\r\n[04:17] literally open sourcing our entire\r\n[04:19] method here for you guys to take and use\r\n[04:20] in whatever capacity you want to. As a\r\n[04:22] quick disclaimer though, we typically\r\n[04:23] run this playbook for mid-market\r\n[04:24] companies, businesses anywhere from 50\r\n[04:26] to 500 employees. So, if that sounds a\r\n[04:28] bit above your pay grade, don't worry\r\n[04:29] because the principles that I'm going to\r\n[04:30] teach you are exactly the same when\r\n[04:32] you're applying this whether it's a 10p\r\n[04:33] person team or a massive enterprise. So,\r\n[04:35] you can scale it up or down exactly as\r\n[04:37] you need. It's it's all in there and the\r\n[04:38] process is solid.\r\n[04:42] The first thing we do when we're\r\n[04:43] thinking about automating a business\r\n[04:44] with AI is that before even building a\r\n[04:46] single tool, we get the leadership team\r\n[04:48] on the same page. So, you cannot\r\n[04:49] transform business if the people at the\r\n[04:51] top don't understand the game that we're\r\n[04:53] playing and understand the key terms and\r\n[04:54] terminology that we're going to be going\r\n[04:56] through, what the opportunity is. So our\r\n[04:57] goal here in this phase is to align the\r\n[04:59] entire leadership team to establish a\r\n[05:01] clear strategic vision for AI within the\r\n[05:03] company and also to communicate both the\r\n[05:05] opportunity and the urgency to all the\r\n[05:07] key decision makers to make sure that\r\n[05:08] they know what's at stake here. And so\r\n[05:10] to do this, we'll usually run a 2-hour\r\n[05:12] AI leadership workshop alongside a\r\n[05:13] second workshop for employees, which\r\n[05:15] usually happens a bit later, but we'll\r\n[05:16] charge for this on top of our fee for a\r\n[05:18] base AI audit. And here's a crucial\r\n[05:19] detail from our playbook is that we\r\n[05:21] always do this before we present our\r\n[05:22] final recommendations on where the best\r\n[05:24] AI opportunities are. This is because it\r\n[05:26] frankly allows us to indoctrinate them\r\n[05:28] with our frameworks, we get them to see\r\n[05:29] the world the way we see it and we\r\n[05:30] establish what a best-in-class AI\r\n[05:32] transformation looks like. And this way\r\n[05:34] when we present our final road map\r\n[05:36] later, they're already bought in to the\r\n[05:37] logic. They understand the key terms and\r\n[05:40] it's not a surprise. It's kind of a\r\n[05:41] natural conclusion of the strategy that\r\n[05:43] we've already agreed on in this early\r\n[05:44] phase. One key message that helps our\r\n[05:46] clients to see what the end goal for\r\n[05:47] this transformation is is what we call\r\n[05:48] an AI first or chart where we will put\r\n[05:50] up a traditional org chart and then\r\n[05:52] we'll swap that out for what an AI first\r\n[05:54] organization would look like. So they\r\n[05:55] start to build this new vision of what\r\n[05:57] the company could look like on top of\r\n[05:59] what they currently understand. So I'll\r\n[06:00] put that up on screen for you to see.\r\n[06:01] Once leadership team is educated and\r\n[06:03] aligned and genuinely excited for the\r\n[06:05] change that's coming for the company, we\r\n[06:07] can then move on to the next stage which\r\n[06:08] is identification. The goal here is to\r\n[06:11] understand their business better than\r\n[06:13] they do. So we are trying to become the\r\n[06:14] world's leading expert on how their\r\n[06:16] company actually works including like\r\n[06:18] the warts and all and all the ugly\r\n[06:19] parts. So this is a multi-stage process.\r\n[06:21] It's quite a lot of work. But first we\r\n[06:23] start off with interviews. We'll conduct\r\n[06:24] deep dive interviews with everyone from\r\n[06:26] department heads down to even the\r\n[06:28] frontline staff who are in the trenches\r\n[06:29] every day creating value for the\r\n[06:31] company. We actually write personalized\r\n[06:32] interview guides for basically each\r\n[06:34] person adapting our questions as we\r\n[06:35] learn more and more and more about the\r\n[06:36] organization. So it kind of changes as\r\n[06:38] we go. And the next step is what we call\r\n[06:40] process mapping. So this is where we\r\n[06:41] take all of that information that came\r\n[06:43] out of the interviews. All of these data\r\n[06:44] points that we got and then we use that\r\n[06:46] to map out the core workflows of the\r\n[06:48] company visually in a tool like Figma.\r\n[06:49] And let me tell you that this step alone\r\n[06:51] is incredibly valuable because most\r\n[06:53] companies have SOPs, sure, but they're\r\n[06:55] usually gathering dust in a Google Drive\r\n[06:57] somewhere and they're completely\r\n[06:58] updated. So for many clients, this is\r\n[07:00] actually the first time they've seen a\r\n[07:01] clear and objective map of how their\r\n[07:03] business actually operates on the\r\n[07:05] day-to-day. And then comes the part that\r\n[07:06] requires the real expertise, which is\r\n[07:08] the use case identification. So our\r\n[07:10] consultants take that process map and\r\n[07:12] then using both their knowledge and our\r\n[07:14] internal AI solutions database which is\r\n[07:16] over 300 proven AI systems they start to\r\n[07:18] pinpoint the bottlenecks in those\r\n[07:19] process maps and they find the areas\r\n[07:21] clogged up with things like manual data\r\n[07:22] entry report writing and repetitive\r\n[07:24] tasks. And this is really where the\r\n[07:26] amateurs are separated from the experts.\r\n[07:27] It's like how much experience have you\r\n[07:28] got? How well do you understand AI and\r\n[07:30] what it can do for businesses? And how\r\n[07:32] well can you layer that on top of the\r\n[07:33] process map you see in front of you. So,\r\n[07:34] it's all about knowing what AI solution\r\n[07:36] fits perfectly into solve each problem\r\n[07:38] and kind of making sure you're leaning\r\n[07:39] into the strengths of the technology. A\r\n[07:41] lot of the time we see these lack of ROI\r\n[07:43] projects coming out because they are\r\n[07:45] trying to use AI to do things that it's\r\n[07:46] not really super good at right now. And\r\n[07:48] it's always best to be looking at where\r\n[07:49] is AI in production in companies right\r\n[07:51] now actually moving the needle and can\r\n[07:53] we lean into those rather than looking\r\n[07:54] for the more experimental ones which is\r\n[07:56] in most cases what people are trying to\r\n[07:57] do. And then finally, we have the most\r\n[07:59] important step which is the opportunity\r\n[08:00] grading and the validation. So my\r\n[08:02] consultants will have identified dozens\r\n[08:03] of different opportunities, but business\r\n[08:05] is all about prioritization of\r\n[08:06] resources, right? Like there's always a\r\n[08:08] million opportunities of things you can\r\n[08:09] do, but some opportunities are\r\n[08:11] inherently more valuable than others.\r\n[08:12] And some are also more difficult to\r\n[08:14] build in order to realize that value. So\r\n[08:16] we can plot these opportunities on what\r\n[08:17] we call the opportunity matrix. And then\r\n[08:19] through careful process of elimination,\r\n[08:21] we can start to trim down to the right\r\n[08:22] mix of what we call quick wins to get a\r\n[08:24] return on their investment as soon as\r\n[08:26] possible once we get into development.\r\n[08:27] also looking at, hey, what are the big\r\n[08:29] swings for us here that will ultimately\r\n[08:31] become a major advantage for us in the\r\n[08:32] market versus their competitors, but\r\n[08:34] often require some prerequisite steps or\r\n[08:36] just generally much more investment and\r\n[08:38] development in order to see through. So,\r\n[08:39] you've got the quick wins and the big\r\n[08:40] swings. And so, it's a case of trimming\r\n[08:42] down until you get a nice mix of both.\r\n[08:43] But another key part of the process here\r\n[08:44] is that we're not just doing this in a\r\n[08:46] lab on our own in isolation, then\r\n[08:47] present the final result. We go back\r\n[08:49] into the business and we run multiple\r\n[08:51] validation interviews with both\r\n[08:52] employees and the leadership. And this\r\n[08:54] is so so so so important because when\r\n[08:56] you go back to the employees, they\r\n[08:57] validate that yes, we this is really a\r\n[08:59] painful problem. Can you please solve\r\n[09:01] this? But the leadership validates that\r\n[09:03] solving this problem aligns with the\r\n[09:04] company's strategic goals. And you\r\n[09:06] absolutely have to have both. Um you\r\n[09:08] have to have that employee buyin or the\r\n[09:09] tools won't get used. And without the\r\n[09:11] leadership buyin, you're not going to\r\n[09:12] get the budget. And so the deliverable\r\n[09:13] from all of this work is a comprehensive\r\n[09:16] 50 to 100page final report. Yes, it's a\r\n[09:18] beast, but it is the master plan. It is\r\n[09:21] their AI strategy roadmap. And it lays\r\n[09:22] out a strategic road map for their\r\n[09:24] entire AI implementation, blending those\r\n[09:26] quick wins that we had before with some\r\n[09:28] of the big gamechanging swings for them\r\n[09:30] to hit. In the free guide that I'm going\r\n[09:31] to be sharing with you guys at the end,\r\n[09:32] you'll be able to get some examples of\r\n[09:33] these key slides that we put in our\r\n[09:35] presentations that are needed to\r\n[09:36] communicate these kind of key\r\n[09:38] initiatives and the overall AR road map\r\n[09:39] that they're working towards.\r\n[09:43] All right. So once you've delivered that\r\n[09:45] 50 to 100 page report, you've turned the\r\n[09:46] chaos of the company into order. The\r\n[09:48] client is blown away by how well you\r\n[09:50] understand the business and they've\r\n[09:51] approved the road map. Now it's time to\r\n[09:53] turn that order into what they really\r\n[09:55] want, which is growth, which of course\r\n[09:56] starts with actual development. So\r\n[09:58] following that final report, we will\r\n[09:59] check in with the clients. Sometimes\r\n[10:00] they'll need a month or two to get their\r\n[10:02] budget sorted out. Other times are like\r\n[10:03] sweet, let's go. But here is the most\r\n[10:05] important rule for this phase is that we\r\n[10:07] always start with the quick wins. We are\r\n[10:08] not going to go for the six-month\r\n[10:10] multi-million dollar moonshot project\r\n[10:11] first. That is a shorefire way to lose\r\n[10:14] trust and momentum. So we always pick\r\n[10:16] the project from the road map that is\r\n[10:17] the perfect blend of that high impact\r\n[10:19] and low difficulty cuz we want to get\r\n[10:21] them that tangible ROI on our entire\r\n[10:23] engagement including both the education,\r\n[10:25] the consulting and now the development\r\n[10:27] as soon as possible. And that's how you\r\n[10:28] get into by working with someone who\r\n[10:30] knows what they're doing. You get to\r\n[10:32] that ROI where we're just as invested in\r\n[10:34] making sure that this all makes sense\r\n[10:35] for you getting you to be in that 5% who\r\n[10:37] are really starting to see an ROI on\r\n[10:39] just the first AI initiative that you\r\n[10:40] actually deliver. And we see this time\r\n[10:41] and time again when you actually run the\r\n[10:43] numbers that a targeted and seemingly\r\n[10:44] quite basic relative to all the stuff\r\n[10:46] you hear about in the news. These\r\n[10:48] relatively basic systems can provide\r\n[10:49] hundreds of thousands of dollars in ROI\r\n[10:51] and savings from staff time wasted on\r\n[10:53] inefficient processes. And this is one\r\n[10:55] of the key things that I really want you\r\n[10:56] to all take away is that for most\r\n[10:57] businesses, the biggest quick wins that\r\n[10:59] can get you an ROI are in the most\r\n[11:01] boring places. We're talking about like\r\n[11:02] soul crushing manual data entry, endless\r\n[11:05] document creation, or the constant let\r\n[11:06] me just look that up for you kind of\r\n[11:08] tasks. In these cases, we can build a\r\n[11:10] relatively simple voice agent, a smart\r\n[11:12] transcription feature, or an agent to\r\n[11:14] query their internal documents and\r\n[11:15] instantly save the team hundreds of\r\n[11:16] hours a month. And it's these simple\r\n[11:18] systems that deliver a massive impact\r\n[11:20] and prove the value of what we're doing.\r\n[11:21] And these kinds of quick wins can cost\r\n[11:22] anywhere from 20 to $50,000 or more. But\r\n[11:25] at this point, businesses are within\r\n[11:27] arms length of getting their first ROI\r\n[11:29] providing AI systems built and\r\n[11:30] developed. But development is the\r\n[11:32] hardest part and it's the most difficult\r\n[11:34] to replicate this consulting side of\r\n[11:36] things. You could kind of do it\r\n[11:37] yourself, but at the end of the day, to\r\n[11:38] get things built out and actually\r\n[11:40] working in production, you need talented\r\n[11:41] developers. Because having a team with\r\n[11:43] enough skills and experience to be able\r\n[11:44] to tackle new and custom AI problems\r\n[11:46] every single time is quite rough. So, if\r\n[11:48] you're an AI agency owner just starting\r\n[11:50] out, your goal here is simple, to be\r\n[11:51] able to find just one versatile AI\r\n[11:53] developer with ideally some full stack\r\n[11:54] experience as well. And the best place\r\n[11:56] to find them is in communities like mine\r\n[11:57] where people are already skilled up and\r\n[11:59] passionate about the stuff and kind of\r\n[12:00] ",
          "niche": "Entrepreneurship",
          "target_audience": "Beginners",
          "tone": "educational",
          "tweet_count": 5,
          "linkedin_count": 3,
          "created_at": "2025-12-10T02:55:16.099Z"
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ideas (GLM-4.6)": {
      "main": [
        []
      ]
    },
    "Extract Ideas (Kimi-K2)": {
      "main": [
        [
          {
            "node": "Merge & Parse Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Parse Ideas": {
      "main": [
        [
          {
            "node": "Store Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Ideas": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ideas (groq/compound)": {
      "main": [
        [
          {
            "node": "Merge & Parse Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Extract Ideas (groq/compound)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Ideas (Kimi-K2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef555713-1a44-48fb-a934-3bc10ef7d803",
  "meta": {
    "instanceId": "d9154bec20a8ff27699705f29c2ba6cb7985977b93557dd9b4bc3763d6e05879"
  },
  "id": "0MUZHto1l05ctN9J",
  "tags": []
}