n8n-workflows/workflow-curation.json
{
  "name": "Content Curation (Gemini)",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "notes": "📥 TRIGGER: Called by Content Generation workflow.\n\nExpected input:\n- video_id, video_title\n- tweets_glm, tweets_kimi\n- linkedin_glm, linkedin_kimi\n- newsletter_glm, newsletter_kimi"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are the Curator - an editorial director selecting the best content.\\n\\nRespond in the same language as the input content. If language cannot be determined, default to English.\\n\\n## GENERATOR A (GLM-4.6) OUTPUTS:\\n\\nTweets: {{ JSON.stringify($json.tweets_glm) }}\\nLinkedIn: {{ JSON.stringify($json.linkedin_glm) }}\\nNewsletter: {{ JSON.stringify($json.newsletter_glm) }}\\n\\n## GENERATOR B (Kimi-K2) OUTPUTS:\\n\\nTweets: {{ JSON.stringify($json.tweets_kimi) }}\\nLinkedIn: {{ JSON.stringify($json.linkedin_kimi) }}\\nNewsletter: {{ JSON.stringify($json.newsletter_kimi) }}\\n\\n## TASK\\n\\nFor each content piece, score both versions 1-5 on:\\n1. Hook Clarity\\n2. Specificity\\n3. Voice Authenticity\\n4. Value Density\\n5. CTA Naturalness\\n\\nPick the best version (or combine elements from both).\\n\\nReturn ONLY JSON:\\n{\\n  \\\"curated_tweets\\\": [\\n    { \\\"content\\\": \\\"final tweet text\\\", \\\"source\\\": \\\"GLM|Kimi|Combined\\\", \\\"scores\\\": { \\\"glm\\\": N, \\\"kimi\\\": N } }\\n  ],\\n  \\\"curated_linkedin\\\": [\\n    { \\\"hook\\\": \\\"\\\", \\\"body\\\": \\\"\\\", \\\"cta\\\": \\\"\\\", \\\"source\\\": \\\"GLM|Kimi|Combined\\\", \\\"scores\\\": { \\\"glm\\\": N, \\\"kimi\\\": N } }\\n  ],\\n  \\\"curated_newsletter\\\": {\\n    \\\"subject\\\": \\\"\\\", \\\"body\\\": \\\"\\\", \\\"source\\\": \\\"GLM|Kimi|Combined\\\", \\\"scores\\\": { \\\"glm\\\": N, \\\"kimi\\\": N }\\n  },\\n  \\\"summary\\\": {\\n    \\\"glm_wins\\\": N,\\n    \\\"kimi_wins\\\": N,\\n    \\\"combined\\\": N\\n  }\\n}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.4,\n    \"maxOutputTokens\": 8192\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "gemini-curate",
      "name": "Curate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Gemini API"
        }
      },
      "notes": "🔧 CONFIGURATION REQUIRED:\n\n1. Create Header Auth credential named 'Gemini API'\n2. Header Name: x-goog-api-key\n3. Header Value: YOUR_GEMINI_API_KEY\n\nGet key from: aistudio.google.com\n\nModel: gemini-2.5-flash\nEndpoint: v1beta"
    },
    {
      "parameters": {
        "jsCode": "// Get Gemini HTTP response\nconst geminiOutput = $('Curate Content').first().json;\n\n// Gemini REST API returns: candidates[0].content.parts[0].text\nlet response = '';\ntry {\n  response = geminiOutput.candidates?.[0]?.content?.parts?.[0]?.text || '';\n} catch (e) {\n  response = '';\n}\n\nconst input = $('Execute Workflow Trigger').first().json;\n\nlet curated;\ntry {\n  const cleaned = (response || '').replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    curated = JSON.parse(match[0]);\n  } else {\n    throw new Error('No JSON found in response');\n  }\n} catch (e) {\n  curated = { \n    error: e.message, \n    raw: (response || '').substring(0, 500),\n    curated_tweets: [],\n    curated_linkedin: [],\n    curated_newsletter: {},\n    summary: { glm_wins: 0, kimi_wins: 0, combined: 0 }\n  };\n}\n\nreturn [{\n  json: {\n    video_id: input.video_id,\n    video_title: input.video_title,\n    curated: curated,\n    curated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-curation",
      "name": "Parse Curation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "notes": "📋 AUTO-CONFIGURED:\n\nParses Gemini REST API response.\nExtracts: candidates[0].content.parts[0].text\nThen parses JSON from the text."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Generated_Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.curated.error ? '❌' : '✅' }}",
            "content_id": "={{ $json.video_id }}-curated",
            "video_id": "={{ $json.video_id }}",
            "curated_tweets": "={{ JSON.stringify($json.curated.curated_tweets || []) }}",
            "curated_linkedin": "={{ JSON.stringify($json.curated.curated_linkedin || []) }}",
            "curated_newsletter": "={{ JSON.stringify($json.curated.curated_newsletter || {}) }}",
            "summary": "={{ JSON.stringify($json.curated.summary || {}) }}",
            "error": "={{ $json.curated.error || '' }}",
            "created_at": "={{ $json.curated_at }}"
          }
        },
        "options": {}
      },
      "id": "store-curated",
      "name": "Store Curated Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [660, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      },
      "notes": "🔧 CONFIGURATION REQUIRED:\n\n1. Select Google Sheets OAuth2 credential\n2. Select 'Content Repurposing Engine' spreadsheet\n3. Select 'Generated_Content' sheet\n\nRequired columns:\nstatus | content_id | video_id | curated_tweets | curated_linkedin | curated_newsletter | summary | error | created_at"
    },
    {
      "parameters": {},
      "id": "return-output",
      "name": "Return Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 0],
      "notes": "📤 OUTPUT:\n\nReturns curated content to main workflow.\nData includes final selected content and comparison scores."
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Curate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Curate Content": {
      "main": [
        [
          {
            "node": "Parse Curation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Curation": {
      "main": [
        [
          {
            "node": "Store Curated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Curated Content": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["content-generation", "curation"],
  "triggerCount": 0,
  "updatedAt": "2024-12-09T00:00:00.000Z",
  "versionId": "5"
}
